<extend name="Public:header"/>
<block name="headdiv">
    <link rel="stylesheet" href="__WEBPUBLIC__/Wechat/css/Ding_shop.css?1=1">
    <link rel="stylesheet" href="__WEBPUBLIC__/Wechat/css/xq_slide.css">
</block>
<block name="main">
<!-- 头部 -->
    <div class="header-container bgfff">
            <div class="weui-cell ih30 box">
                <div class="weui-cell__hd">

                </div>
                <div class="weui-cell__bd textcenter">
                	买单
                </div>
                <!--<div class="weui-cell__ft">
                    <img src="/Public/Wechat/img/fenx.png" class="iconfenx"/>
                </div>-->
            </div>
    </div>
    <!-- 内容 -->
    <div class="xq_container">
    	<div class="bgfff paytop">
            <div class="textcenter fs0">
                <img class="w100px" src="../img/img (134).png">
            </div>
            <div class="fontw textcenter padlr10 mgtop20">
                巴黎贝甜巴黎贝甜巴黎贝甜巴黎贝甜巴黎贝甜(小白楼店)
            </div>
            <div class="textcenter colb6">
                <span>1845****789</span>
            </div>
            <div class="padlr10 mgtop20">
                买单金额
            </div>   
            <div class="padlr10 flex">
                <div class="fs35">￥</div>
                <div class="flex1 flex flexvcenter">
                    <input class="weui-input h30 after" type="number" placeholder="请输入金额"/>
                </div>
            </div>
        </div>

        <div class="weui-cells weui-cells_checkbox bgfff">
            <label class="weui-cell weui-check__label">
                <div class="weui-cell__hd mgr5">
                    <img src="../img/img (24).png" alt="" style="width:20px;margin-right:5px;display:block">
                </div>
                <div class="weui-cell__bd">
                    <div>众享豆抵用<span>100</span></div>
                    <div class="fs0-8 colb6">剩余<span>300</span>众享豆</div>
                </div>
                <div class="weui-cell__ft">
                    <input type="checkbox" class="weui-check" name="checkbox1" id="s11" checked="checked">
                    <i class="weui-icon-checked"></i>
                </div>
            </label>
            <div class="weui-cell weui-cell_access">
                <div class="weui-cell__hd">
                    <img src="../img/img (102).png" alt="" style="width:20px;margin-right:5px;display:block">
                </div>
                <div class="weui-cell__bd">
                    <p>选择优惠券</p>
                </div>
                <div class="weui-cell__ft"></div>
            </div>
        </div>
        <div class="weui-cells__title">选择支付方式</div>
        <div class="weui-cells mgtop0 weui-cells_radio">
            <label class="weui-cell weui-check__label bgfff">
                    <div class="weui-cell__hd">
                        <img src="../img/img (99).png" alt="" style="width:20px;margin-right:5px;display:block">
                    </div>
                    <div class="weui-cell__bd">
                        <p>微信支付</p>
                    </div>
                    <div class="weui-cell__ft">
                        <input type="checkbox" class="weui-check" checked name="radio1" id="x11">
                        <span class="weui-icon-checked"></span>
                    </div>
            </label>
        </div>
        <label for="weuiAgree" class="weui-agree">
            <input id="weuiAgree" type="checkbox" class="weui-agree__checkbox">
            <span class="weui-agree__text">
                阅读并同意<a class="colblue" href="javascript:void(0);">《相关条款》</a>
            </span>
        </label>
        <div class="but2 colfff bgblue mgtop20">
            需支付￥<span>456.00</span> 
        </div>
    </div>
		
</block>
<block name="footerjs">	
<script src="__WEBPUBLIC__/Wechat/slide/js/xq_slide.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        
    </script>
</block>