<extend name="Public:head"/>
<block name="main">
    <div class="xq_container" style="background:white;padding:0px 0px 0px 0px;">

        <div class="weui-cells fs0-8" style="margin-top:0px;" >
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <div id="main" style="width:100%;height:250px;"></div>
                </div>
            </div>
        </div>
        
    </div>
</block>
<block name="footerjs">
<script src="https://cdn.bootcss.com/echarts/3.5.4/echarts.min.js"></script>
<script src="https://cdn.bootcss.com/echarts/3.5.4/echarts.common.min.js"></script>
    <script>
        
    </script>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        function showLine(date,line) {
        var option = {
            title: {
                text: '股价曲线'
            },
            color: [
                '#208de1', '#fec42c', '#80F1BE'
            ],
            tooltip: {},
            legend: {
                data:['股价']
            },
            xAxis: {
                data: date,
                name: '日'
            },
            yAxis: {
                name: '元'
            },
            series: [{
                name: '股价',
                type: 'line',
                borderColor: '#208de1',
                data: line
            }]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        }
        requestUrl("{:U('Api/Member/income')}",{},function(res) {
            if (res.flag == "success") {
                var date = res.data.x_date;
                var value = res.data.day_line;
                console.log(typeof date,typeof value);
                showLine(date.split(","),value.split(","));
            }else{
                layer.msg(res.message);
            }
        })
    </script>
</block>
