<extend name="Public:newhead"/>
<block name="main">
<!-- 头部 -->
    <div class="header-container bgfff">
        <div class="weui-cell ih30 box">
            <div class="weui-cell__hd">
               
            </div>
            <div class="weui-cell__bd searchimgbox">
            	<img class="searchimg" src="__WEBPUBLIC__/newp/img/search.png">
            	<input class="" type="text" name="" placeholder="输入商品名称搜索">
            	<!-- <span class="fr tc">退出</span> -->
            </div>
            <div class="weui-cell__ft">
                <div class="carbox">
                    <img class="carimg" src="__WEBPUBLIC__/newp/img/car.png" class=""/>
                    <div class="carnum">
                        <span>99</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 选择分类导航 -->
    <div class="classnav flex bgfff ih30">
        <div class="flex1 flex">
            <div class="flex1 classnav1">
                <select class="allclass opainput" forele="goodclass">
                </select>
                <div class="claarea" ele="goodclass">全部分类</div>
            </div>
            <div class="flex1 classnav2">
                <select class="zhclass opainput" forele="order">
                    <option value="1">综合排序</option>
                    <option value="2">销量最高</option>
                    <option value="3">价格最低</option>
                </select>
                <div ele="order">综合排序</div>
            </div>
        </div>
        <div class="divclass">
            <img class="" src="__WEBPUBLIC__/newp/img/class1.png">
        </div>
    </div>

    <!-- 内容 -->
    <div class="xq_container listbox padtop100">
    	<div class="goodslist">
	        <div class="shoplist goodobj">
	            <div><img class="listimg1" src="__WEBPUBLIC__/newp/img (133).png"></div>
	            <div>
	                <div class="ih20 line2 mgb5">        巴黎欧莱雅巴黎欧莱雅巴黎欧雅巴黎欧莱雅巴黎欧雅巴黎欧莱雅巴黎欧莱雅巴黎欧莱雅</div>
	                <div class="listdiv3 ">
	                    <div class="ih20">
	                        <div class="colb6 fs12">月售<span>588</span>件</div>
	                        <div class="colred">￥<span>189.00</span></div>
	                    </div>
	                    <div>
	                        <img class="listimg2" src="__WEBPUBLIC__/newp/img/img (136).png">
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="shoplist goodobj">
	            <div><img class="listimg1" src="__WEBPUBLIC__/newp/img/img (133).png"></div>
	            <div>
	                <div class="ih20 line2 mgb5">        巴黎欧莱雅巴黎欧莱雅巴黎欧雅巴黎欧莱雅巴黎欧雅巴黎欧莱雅巴黎欧莱雅巴黎欧莱雅</div>
	                <div class="listdiv3 ">
	                    <div class="ih20">
	                        <div class="colb6 fs12">月售<span>588</span>件</div>
	                        <div class="colred">￥<span>189.00</span></div>
	                    </div>
	                    <div>
	                        <img class="listimg2" src="__WEBPUBLIC__/newp/img/img (136).png">
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="shoplist goodobj">
	            <div><img class="listimg1" src="__WEBPUBLIC__/newp/img/img (133).png"></div>
	            <div>
	                <div class="ih20 line2 mgb5">        巴黎欧莱雅巴黎欧莱雅巴黎欧巴黎欧莱雅巴黎欧莱雅巴黎欧雅巴黎欧莱雅巴黎欧雅巴黎欧莱雅巴黎欧莱雅巴黎欧莱雅</div>
	                <div class="listdiv3 ">
	                    <div class="ih20">
	                        <div class="colb6 fs12">月售<span>588</span>件</div>
	                        <div class="colred">￥<span>189.00</span></div>
	                    </div>
	                    <div>
	                        <img class="listimg2" src="__WEBPUBLIC__/newp/img/img (136).png">
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="shoplist goodobj">
	            <div><img class="listimg1" src="__WEBPUBLIC__/newp/img/img (133).png"></div>
	            <div>
	                <div class="ih20 h40 line2 mgb5">巴黎欧欧莱雅</div>
	                <div class="listdiv3 ">
	                    <div class="ih20">
	                        <div class="colb6 fs12">月售<span>588</span>件</div>
	                        <div class="colred">￥<span>189.00</span></div>
	                    </div>
	                    <div>
	                        <img class="listimg2" src="__WEBPUBLIC__/newp/img/img (136).png">
	                    </div>
	                </div> 
	            </div>     
	        </div>
	        <div class="shoplist goodobj">
	            <div><img class="listimg1" src="__WEBPUBLIC__/newp/img/img (133).png"></div>
	            <div>
	                <div class="ih20 h40 line2 mgb5">巴黎欧欧莱雅</div>
	                <div class="listdiv3 ">
	                    <div class="ih20">
	                        <div class="colb6 fs12">月售<span>588</span>件</div>
	                        <div class="colred">￥<span>189.00</span></div>
	                    </div>
	                    <div>
	                        <img class="listimg2" src="__WEBPUBLIC__/newp/img/img (136).png">
	                    </div>
	                </div> 
	            </div>     
	        </div>
	        <div class="shoplist goodobj">
	            <div><img class="listimg1" src="__WEBPUBLIC__/newp/img/img (133).png"></div>
	            <div>
	                <div class="ih20 h40 line2 mgb5">巴黎欧欧莱雅</div>
	                <div class="listdiv3 ">
	                    <div class="ih20">
	                        <div class="colb6 fs12">月售<span>588</span>件</div>
	                        <div class="colred">￥<span>189.00</span></div>
	                    </div>
	                    <div>
	                        <img class="listimg2" src="__WEBPUBLIC__/newp/img/img (136).png">
	                    </div>
	                </div> 
	            </div>     
	        </div>
        </div>
    </div>
</block>
<block name="footerjs">
<script type="text/javascript">
    $('.divclass').click(function () {
        if($(this).hasClass('on')){
            $(this).removeClass('on');
            $(this).find('img').attr('src','__WEBPUBLIC__/newp/img/class1.png');
            $('.shoplist').removeClass('shoplist2');
        }else{
            $(this).addClass('on');
            $(this).find('img').attr('src','__WEBPUBLIC__/newp/img/class2.png');
            $('.shoplist').addClass('shoplist2');
        }
    })
    var cate_id = "{$_REQUEST['cate_id']}";
    var title = "{$_REQUEST['title']}";

    function putClass( arr ) {
		var str = "";
		var istrue;
		for (var index in arr) {
			var claitem = arr[index];
			istrue = "";
			if (cate_id && cate_id == claitem.cate_id) {
				$(".claarea").text(claitem.category);
				istrue = "selected";
			}
			str += '<option value="'+claitem.cate_id+'" '+istrue+'>'+claitem.category+'</option>';
		}
		$(".allclass").html(str);
	}

	var classitem = sessionStorage.getItem("classitem");
	if (classitem) {
		putClass(JSON.parse(classitem));
	}else{
		requestUrl("{:U('Api/Product/category')}",{},function ( res ) {
			if ( res.flag == "success") {
				putClass(res.data);
			}else{
				layer.msg(res.message);
			}
		})
	}


	var dataargs = {};

    //添加商家到列表
    function selectAfter( self ) {
		var order = self.attr("forele");
		if (order=='goodclass') {
			dataargs.cate_id = self.val();
		}else{
			dataargs.order = self.val();
		}
		dataargs.p = 1;
		getJson("shouci");
	}
	if (cate_id) {
		dataargs.cate_id = cate_id;
	}
	if (title) {
		dataargs.title = title;
	}


	getJson("shouci");
    function putGoods(data,args) {
        if(data.flag == 'success'){
            var shops = data.data;
            if((!shops || shops.length == 0 ) && args == "shouci"){
                $(".xq_container").addClass('wusj');
            }else if((!shops || shops.length == 0 ) && args == "fenye"){
            	$(".nomore").remove();
                $(".goodslist").append('<div class="texcen nomore">没有更多了！</div>');
            }
            if ( shops.length != 0 ){
            	$(".xq_container").removeClass('wusj');
            }
                var str ="";
                for(var index in shops){
                	var shop = shops[index];
                    str += '<div class="shoplist goodobj">'
	            +'<div><img class="listimg1" src="__WEBPUBLIC__/newp/img/img (133).png"></div>'
	            +'<div>'
	                +'<div class="ih20 h40 line2 mgb5">'+shop.title+'</div>'
	                +'<div class="listdiv3 ">'
	                    +'<div class="ih20">'
	                        +'<div class="colb6 fs12">月售<span>'+shop.sales+'</span>件</div>'
	                        +'<div class="colred">￥<span>'+shop.price+'</span></div>'
	                    +'</div>'
	                    +'<div>'
	                        +'<img class="listimg2" src="'+shop.cover_pic+'">'
	                    +'</div>'
	                +'</div>' 
	            +'</div>'    
	        +'</div>';
                }
                if (args == "fenye") {
                    $('.goodslist').append(str);
                }else{
                    $('.goodslist').html(str);
                }
                top_linkto();
        }else{
             layer.msg(data.message);
        }
        if (args == "shouci") {
            fenye();
        }
    }
    

    function getJson(args) {
        console.log(dataargs);
        requestUrl("{:U('Api/Product/productList')}",dataargs,function(data,times){
        	if (new Date().getTime()-500 > times) {
        		layer.closeAll();
        	}else{
        		setTimeout(function () {
        			layer.closeAll();
        		},500);
        	}
            putGoods(data,args);
        },"GET",true);
    }
    
    function fenye(){
        var flag= true;//防止ajax请求期间，对此触发请求数据
        var $_zd = $(".goodobj").height();//获取每个单项的高度
        var length = 3;//定义预加载的数量，提前三个加载数据
        var $_par = $(".goodslist");//获取包裹容器
        var winheight = $(window).height();//获取窗口高度
        var curpage = 1;//存储当前的页数v
        $(function(){
            $(window).on("scroll",function(e){
                if(flag){
                    var self = $(this);
                    var scrtop = self.scrollTop() + winheight;
                    var docheight = $_par.height();
                    if(scrtop > docheight - ( length * $_zd ) ){
                        flag = false;
                        dataargs.p = dataargs.p +1;
                        getJson("fenye");
                    }
                }
            });
        });
    }
</script>
</block>