<include file="Public:header"/>
<!--主页面-->
<div id="main-content" class="content">
    <div class="content-box">

        <ul class="breadcrumb">
            <li><a href="/">首页</a></li>
            <li><a href="">商品管理</a></li>
            <li class="active">商品属性</li>
        </ul>
        <div class="page-header clearfix">
            <h3>商品属性</h3>
            <ul class="nav nav-tabs">    
                <li>
                    <a href="{:U('Attr/attrList')}">属性列表</a>
                </li>
                <li class="active">
                    <a href="javascript:;">编辑属性</a>
                </li>
            </ul>
        </div>

        <!--表格内容-->
        <div class="content-box-content">
            <!--表单 start-->
            <form action="{:U('Attr/editAttr')}" method="post" class="form-horizontal" role="form">
                <input name="attr_id" type="hidden" value="{$attrinfo['attr_id']}"/>
                <div class="form-group">
                    <label for="cate_id" class="col-sm-3 control-label"><em class="prompt-red"></em>分类名称</label>
                    <div class="col-sm-9">
                        <select name="cate_id" id="cate_id" class="form-control input-small form-control-select">
                            <volist name="list" id="vo">
                                <option value="{$vo['cate_id']}" <if condition="$vo['cate_id'] eq $attrinfo['cate_id']">selected</if>>{$vo['category']}</option>
                                <if condition="!empty($vo['second_cate'])">
                                    <volist name="vo['second_cate']" id="vo_second">
                                        <option value="{$vo_second['cate_id']}" <if condition="$vo_second['cate_id'] eq $attrinfo['cate_id']">selected</if>>--{$vo_second['category']}</option>
                                        <if condition="!empty($vo_second['three_cate'])">
                                            <volist name="vo_second['three_cate']" id="vo_three">
                                                <option value="{$vo_three['cate_id']}" <if condition="$vo_three['cate_id'] eq $attrinfo['cate_id']">selected</if>>----{$vo_three['category']}</option>
                                            </volist>
                                        </if>
                                    </volist>
                                </if>
                            </volist>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label for="attr_name" class="col-sm-3 control-label"><em class="prompt-red">*</em>属性名称：</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="attr_name" name="attr_name" value="{$attrinfo['attr_name']}" placeholder="属性名称" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="attr_name" class="col-sm-3 control-label"><em class="prompt-red">*</em>属性值：</label>
                        <div class="col-sm-7 attrval">
                            <if condition="$vals neq ''">
                                <volist name="vals" id="vo" key="i">
                                    <input type="text" class="form-control" name="attr_val[]" value="{$vo['attr_value']}" placeholder="属性值" style="float:left;" required>
                                    <if condition="$i gt 1">&nbsp;&nbsp;<button type="button" class="btn btn-primary btn-jian">删除</button></if><br/><br/>
                                </volist>
                                <else/>
                            <input type="text" class="form-control" name="attr_val[]" placeholder="属性值" required><br/>
                            </if>
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-primary btn-add">添加</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-default btn-primary">确认修改</button>
                        </div>
                    </div>
                </div>

            </form>
            <!--表单 end-->
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $('.btn-add').bind("click",function(){
            var html = '<input type="text" class="form-control" name="attr_val[]" placeholder="属性值" required style="float:left;">&nbsp;&nbsp;<button type="button" class="btn btn-primary btn-jian">删除</button><br/><br/>';

            $('.attrval').append(html);
        });

        $('.attrval').on("click",".btn-jian",function(){
            $(this).prev().remove();
            $(this).next().remove();
            $(this).remove();
        });

    })
</script>
<include file="Public:footer"/>
