<extend name="Public:header"/>
<block name="main">
	<!-- 头部 -->
    <div class="header-container bgfff z3">
            <div class="weui-cell ih30 box">
                <div class="weui-cell__hd">
                </div>
                <div class="weui-cell__bd searchimgbox">
                	<img class="searchimg" src="__WEBPUBLIC__/Wechat/shopimg/search.png">
                    <input class="" type="text" name="" placeholder="输入关键词搜索">
                </div>
                <div class="weui-cell__ft">
                    <div class="searchbut">搜索</div>
                </div>
            </div>
    </div>
    <!-- 内容 -->
    <div class="xq_container mh100 bgfff">
        <div class="list after">
            <!-- <div class="weui-cell colb6" href="javascript:;">
                <div class="weui-cell__hd"><img src="../shopimg/img (73).png" alt="" style="width:20px;margin-right:5px;display:block"></div>
                <div class="weui-cell__bd">
                    <p>棉衣裤子</p>
                </div>
                <div class="weui-cell__ft">
                    <img class="w15" src="../shopimg/img (33).png">
                </div>
            </div>
            <div class="weui-cell colb6" href="javascript:;">
                <div class="weui-cell__hd"><img src="../shopimg/img (73).png" alt="" style="width:20px;margin-right:5px;display:block"></div>
                <div class="weui-cell__bd">
                    <p>棉衣裤子</p>
                </div>
                <div class="weui-cell__ft">
                    <img class="w15" src="../shopimg/img (33).png">
                </div>
            </div>
            <div class="weui-cell colb6" href="javascript:;">
                <div class="weui-cell__hd"><img src="../shopimg/img (73).png" alt="" style="width:20px;margin-right:5px;display:block"></div>
                <div class="weui-cell__bd">
                    <p>棉衣裤子</p>
                </div>
                <div class="weui-cell__ft">
                    <img class="w15" src="../shopimg/img (33).png">
                </div>
            </div>
            <div class="weui-cell colb6" href="javascript:;">
                <div class="weui-cell__hd"><img src="../shopimg/img (73).png" alt="" style="width:20px;margin-right:5px;display:block"></div>
                <div class="weui-cell__bd">
                    <p>棉衣裤子</p>
                </div>
                <div class="weui-cell__ft">
                    <img class="w15" src="../shopimg/img (33).png">
                </div>
            </div>
            <div class="corderitem after10 bgfff">
                <div class="weui-cell fs0-8">
                    <div class="weui-cell__bd">
                        <div>订单号:18454534846546516</div>
                        <div class="colb6">成交时间:5489515314545</div>
                    </div>
                    <div class="weui-cell__ft">
                        <div class="colred">已完成</div>
                        <div class="colb6"></div>
                    </div>
                </div>
                <div class="">
                    <div class="flex corderitemshop">
                            <div class="carshopimg">
                                <img class="w100" src="../img/img (86).png">
                            </div>
                            <div class="flex1 ih20 fs14">
                                <div class="carshoptab1">
                                    <div class="line2 h40">按时间段阿萨德看来就阿萨德阿萨德；阿斯达卡asdasdasd阿萨德点击我剪短发阿斯兰的接口打开</div>
                                    <div class="colb6 fs12">
                                        M；xxl；黑色 M；xxl
                                    </div>
                                    <div>
                                        <span class="colred">￥159.02</span>
                                        <span class="right colb6">x1</span>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="flex corderitemshop">
                            <div class="carshopimg">
                                <img class="w100" src="../img/img (86).png">
                            </div>
                            <div class="flex1 ih20 fs14">
                                <div class="carshoptab1">
                                    <div class="line2 h40">按时间段阿萨德看来就阿萨德阿萨德；阿斯达卡asdasdasd阿萨德点击我剪短发阿斯兰的接口打开</div>
                                    <div class="colb6 fs12">
                                        M；xxl；黑色 M；xxl
                                    </div>
                                    <div>
                                        <span class="colred">￥159.02</span>
                                        <span class="right colb6">x1</span>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="textright after fs12 padlr10 ih30">
                        <span class="">共48件商品</span>
                        合计:<span class="">￥185.05</span>
                        <span>(含运费￥10.00)</span>
                </div>
                <div class="orderbutbox">
                    <div class="">删除订单</div>
                    <div class="">查看评价</div>
                    <div class="">联系买家</div>
                </div>
        </div>
        <div class="corderitem after10 bgfff">
                <div class="weui-cell fs0-8">
                    <div class="weui-cell__bd">
                        <div>订单号:18454534846546516</div>
                        <div class="colb6">成交时间:5489515314545</div>
                    </div>
                    <div class="weui-cell__ft">
                        <div class="colred">已完成</div>
                        <div class="colb6"></div>
                    </div>
                </div>
                <div class="">
                    <div class="flex corderitemshop">
                            <div class="carshopimg">
                                <img class="w100" src="../img/img (86).png">
                            </div>
                            <div class="flex1 ih20 fs14">
                                <div class="carshoptab1">
                                    <div class="line2 h40">按时间段阿萨德看来就阿萨德阿萨德；阿斯达卡asdasdasd阿萨德点击我剪短发阿斯兰的接口打开</div>
                                    <div class="colb6 fs12">
                                        M；xxl；黑色 M；xxl
                                    </div>
                                    <div>
                                        <span class="colred">￥159.02</span>
                                        <span class="right colb6">x1</span>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="flex corderitemshop">
                            <div class="carshopimg">
                                <img class="w100" src="../img/img (86).png">
                            </div>
                            <div class="flex1 ih20 fs14">
                                <div class="carshoptab1">
                                    <div class="line2 h40">按时间段阿萨德看来就阿萨德阿萨德；阿斯达卡asdasdasd阿萨德点击我剪短发阿斯兰的接口打开</div>
                                    <div class="colb6 fs12">
                                        M；xxl；黑色 M；xxl
                                    </div>
                                    <div>
                                        <span class="colred">￥159.02</span>
                                        <span class="right colb6">x1</span>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="textright after fs12 padlr10 ih30">
                        <span class="">共48件商品</span>
                        合计:<span class="">￥185.05</span>
                        <span>(含运费￥10.00)</span>
                </div>
                <div class="orderbutbox">
                    <div class="">删除订单</div>
                    <div class="">查看评价</div>
                    <div class="">联系买家</div>
                </div>
        </div>   -->
        </div>
    </div>



</block>
<block name="footerjs">
<script type="text/javascript">
    //如果是ios添加返回
    if((isApp||isA)&&!!navigator.userAgent.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/)){
        $('.header-container .weui-cell__hd').addClass('back');
        backinput();
    }
    // 获取搜索历史
    var search=[];
    function showlocal(){
        if(localStorage.getItem("shopsearch")){
            search =localStorage.getItem("shopsearch").split(",");
            if(search.length){
                var str="";
                for(var i=0;i<search.length;i++){
                    str+='<div class="weui-cell hisdiv colb6" myname='+search[i]+'>'+
                    '<div class="weui-cell__hd"><img src="__WEBPUBLIC__/Wechat/shopimg/img (73).png" alt="" style="width:20px;margin-right:5px;display:block"></div>'+
                    '<div class="weui-cell__bd textovh">'+
                        '<p class="textovh">'+search[i]+'</p>'+
                    '</div>'+
                    '<div class="weui-cell__ft" style="min-width:40px;">'+
                        '<img  class="w15" src="__WEBPUBLIC__/Wechat/shopimg/img (33).png">'+
                        '<div myname='+search[i]+' class="removeone"></div>'+
                    '</div>'+
                '</div>'
                }
                str+='<div class="ih30 colon textcenter pad10 myremove">清除全部历史</div>';
                $('.list').html(str);
            }
        }else{
            $('.list').html('<div class="ih30 colon textcenter pad10">这里空空如也</div>');
        }
    }
    showlocal();
    // 清除历史
    $('.xq_container').on('click','.myremove',function () {
        localStorage.removeItem("shopsearch");
        $('.list').html('');
        search=[];
    });
    // 清除单一历史
    $('.xq_container').on('click','.removeone',function (event) {
        event.stopPropagation();
        for(var i=0;i<search.length;i++){
            if(search[i]==$(this).attr('myname')){
                search.splice(i,1);
                localStorage.setItem("shopsearch",search);
                showlocal();
                return;
            }
        }
    });
    // 点击单一历史记录
    $('.xq_container').on("click",".hisdiv",function(){
        dataargs.title=$(this).attr('myname');
        getJson("shouci");
        search.splice($(this).index(),1);
        search.unshift($(this).attr('myname'));
        localStorage.setItem("shopsearch",search);
    })
    // 点击搜索
    var dataargs = {shop_id:shop_id,p:1,status:4};
    var flag= true;//防止ajax请求期间，对此触发请求数据      
    function getJson(args) {
            console.log(dataargs);
            requestUrl("{:U('Api/StoreOrder/orderList')}",dataargs,function(data){
                layer.closeAll();
                putGoods(data,args);
            },"POST");
    }

    $('.searchbut').click(function () {
        var text=$.trim($('.searchimgbox input').val())
        if(text){
            dataargs.title=text;
            getJson("shouci");
            for(var i=0;i<search.length;i++){
                if(search[i]==text){
                    search.splice(i,1);
                }
            }
            search.unshift(text);
            if(search.length==11){
                search.pop();
            }
            localStorage.setItem("shopsearch",search);
        };
       
    })
    // 点击商品
    $('.xq_container').on('click','.corderitem',function(){
        var url="{:U('Order/orderinfo')}&order_id="+$(this).attr('myid');
        window.location.href = url;
    });
    // 删除订单
    $('.xq_container').on('click','.removeorder',function(event){
        event.stopPropagation();
        var order_id=$(this).parents('.corderitem').attr('mtid');
        layer.open({
              content: '确定删除该订单么'
              ,btn: ['确定', '取消']
              ,yes: function(index, layero){
                //按钮【按钮一】的回调
                requestUrl("{:U('Api/ProductOrder/delOrder')}",{order_id:order_id},function(data){
                    if(data.flag="success"){
                        $(this).parents('.corderitem').remove();
                    }else{

                    }
                    layer.msg(data.message);
                },"POST");
                layer.close(index); //如果设定了yes回调，需进行手工关闭
              }
              ,btn2: function(index, layero){
                //按钮【按钮二】的回调
                
                //return false 开启该代码可禁止点击该按钮关闭
              }
        });
    });
    //提醒付款
    $('.xq_container').on('click','.txfk',function(event){
        event.stopPropagation();
        var order_id=$(this).attr('order_id');
        requestUrl("{:U('Api/ProductOrder/informPushMember')}",{order_id:order_id},function(data){
            if(data.flag=="success"){
                layer.msg('提醒成功！');
            }else{
                layer.msg(data.message);
            }
        },"POST");
    });
    //查看物流
    $('.xq_container').on('click','.skwl',function(event){
        event.stopPropagation();
        var wlnum=$(this).attr('wlnum');
        layer.open({
            title:'物流单号'
          ,content: wlnum
          ,btn: ['确定', '取消']
          ,yes: function(index, layero){
            //按钮【按钮一】的回调
            layer.close(index); //如果设定了yes回调，需进行手工关闭
          }
          ,btn2: function(index, layero){
            //按钮【按钮二】的回调
            
            //return false 开启该代码可禁止点击该按钮关闭
          }
        });
    });
     // 查看评价
    $('.xq_container').on('click','.lookspan',function(event){
        event.stopPropagation();
        var url="{:U('Order/evaluatelist')}/order_id/"+$(this).attr('order_id');
        window.location.href = url;
    });
    //添加商品到列表
    function putGoods(data,args) {
        console.log(data);
        if(data.flag == 'success'){
            var shops = data.data;
            if((!shops || shops.length == 0 ) && args == "shouci"){
                $(".list").html('');
                $(".list").addClass('wusj');
                $(".nomore").remove();
            }else if((!shops || shops.length == 0 ) && args == "fenye"){
                $(".list").append('<div class="texcen nomore">没有更多了！</div>');
            }else{
                $(".list").removeClass('wusj');
                $(".nomore").remove();
                var str ="";
                for(var index in shops){
                    var shop = shops[index];
                    //console.log(shop.cover_pic);
                    // 判断状态
                    var newstr={};//存储状态
                    switch(+shop.status)
                    {
                    case 0:
                        newstr.str1="创建";
                        newstr.str2="待付款";
                        newstr.time=shop.ctime;
                        newstr.str3='<div order_id="'+shop.order_id+'" class="allred txfk">提醒付款</div>';
                        break;
                    case 1:
                        newstr.str1="付款";
                        newstr.str2="待发货";
                        newstr.time=shop.pay_time;
                        newstr.str2_2='<div class="colb6">在线支付</div>';
                        newstr.str3='<div order_id="'+shop.order_id+'" class="allred fhspan">发货</div>';
                        break;
                    case 2:
                        newstr.str1="发货";
                        newstr.time=shop.send_time;
                        newstr.str2="待收货";
                        newstr.str3='<div class="mgr5 skwl" wlnum="'+shop.delivery_number+'">查看物流</div>';
                        break;
                    case 3:
                        newstr.str1="成交";
                        newstr.str2="待评价";
                        newstr.time=shop.affirm_time;
                        newstr.str3='<div class="mgr5 skwl" wlnum="'+shop.delivery_number+'">查看物流</div>'; 
                        break;
                    case 4:
                        newstr.str1="成交";
                        newstr.str2="已完成";
                        newstr.time=shop.affirm_time;
                        newstr.str3='<div class="mgr5 lookspan">查看评价</div>'; 
                        break;
                    case 9:
                        newstr.str1="创建";
                        newstr.str2="已关闭";
                        newstr.time=shop.ctime;
                        newstr.str3='';  
                        break;
                    }

                    // 存储该订单的商品
                    var shopstr='';
                    for(var k=0;k<shop.product.length;k++){
                        shopstr+='<div class="flex corderitemshop">'
                            +'<div class="carshopimg">'
                                +'<img class="" src="'+shop.product[k].cover_pic+'">'
                            +'</div>'
                            +'<div class="flex1 ih20 fs14">'
                                +'<div class="carshoptab1">'
                                    +'<div class="line2 h40">'+shop.product[k].title+'</div>'
                                    +'<div class="colb6 fs12">'+((shop.product[k].attr&&shop.product[k].attr!="0")?shop.product[k].attr:"暂无属性")+'</div>'
                                    +'<div>'
                                        +'<span class="colred">￥'+shop.product[k].price+'</span>'
                                        +'<span class="right colb6">x'+shop.product[k].num+'</span>'
                                    +'</div>'
                                +'</div>'
                            +'</div>'
                    +'</div>';
                    }


                    str +=  '<div class="corderitem mgtop10 bgfff" myid='+shop.order_id+'>'
                                +'<div class="weui-cell fs0-8">'
                                    +'<div class="weui-cell__bd">'
                                        +'<div>订单号:'+shop.order_sn+'</div>'
                                        +'<div class="colb6">'+newstr.str1+'时间:'+newstr.time+'</div>'
                                    +'</div>'
                                    +'<div class="weui-cell__ft">'
                                        +'<div class="colred">'+newstr.str2+'</div>'
                                        +(newstr.str2_2?newstr.str2_2:'')
                                    +'</div>'
                                +'</div>'
                                +'<div class="">'+shopstr+'</div>'
                                +'<div class="textright after fs12 padlr10 ih30">'
                                        +'<span class="">共'+shop.total_num+'件商品</span>'
                                        +'合计:<span class="">￥'+shop.total+'</span>'
                                        +'<span>(含运费￥'+shop.postage+')</span>'
                                +'</div>'
                                +'<div class="orderbutbox">'+newstr.str3+'</div>'
                            +'</div>';
                }
                if (args == "fenye") {
                    $('.list').append(str);
                }else{
                    $('.list').html(str);
                }
                flag=true;
            }
        }else{
            if(data.message=="数据为空"&&args == "shouci"){
                $(".list").html('').addClass('wusj');
            }else{
                layer.msg(data.message);
            }
        }
        if (args == "shouci") {
            fenye();
        }
    }

    function fenye(){
        var $_zd = $(".corderitem").height();//获取每个单项的高度
        var length = 3;//定义预加载的数量，提前三个加载数据
        var $_par = $(".list");//获取包裹容器
        var winheight = $(window).height();//获取窗口高度
        var curpage = 1;//存储当前的页数v
        $(function(){
            $(window).on("scroll",function(e){
                if(flag){
                    var self = $(this);
                    var scrtop = self.scrollTop() + winheight;
                    var docheight = $_par.height();
                    //console.log(scrtop + "=" + docheight + "=" + $_zd);
                    if(scrtop > docheight - ( length * $_zd ) ){
                        flag = false;
                        dataargs.p = dataargs.p +1;
                        getJson("fenye");
                    }
                }
            });
        });
    }

</script>
</block>