<include file="Public:header"/>
<link rel="stylesheet" href="__WEBPUBLIC__/Uploadify/uploadify.css" type="text/css" />
<!--主页面-->
<div id="main-content" class="content">
    <ul class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li class="active"><a href="">权限管理</a></li>
        <li class="active">添加管理组</li>
    </ul>

    <div class="page-header clearfix">
        <h3>添加管理组</h3>
        <ul class="nav nav-tabs">
            <li  class="">
                <a href="{:U('Group/groupList')}">管理组列表</a>
            </li>
            <li  class="active">
                <a href="{:U('Group/addGroup')}">添加管理组</a>
            </li>
        </ul>
    </div>

    <div id="tabs-content" class="content-box-content">
        <div class="ul">
            <form action="{:U('Group/addGroup')}" method="post" class="form-horizontal" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="type_name" class="col-sm-1 control-label"><em class="prompt-red">*</em>组名：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="type_name" name="group_name" />
                    </div>
                </div>
                <div class="form-group">

                    <volist name="list" id="action">
                        <label class="col-sm-1 control-label"><em class="prompt-red">*</em>{$action['name']}：</label>
                        <div class="col-sm-9">
                            <volist name="action['list']" id="vo">
                                <div class="f-left" style="width:180px;padding:5px;">
                                    <input type="checkbox" value="{$vo['action_id']}" name="permission[]"/>{$vo['action_name']}
                                </div>
                            </volist>

                        </div>
                        <div class="clear"></div><br>
                    </volist>

                    <span class='prompt col-sm-offset-4 col-sm-9' style="color: red">(选择之后，将获取对应的权限)</span><br/>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                      <button type="submit" class="btn btn-default btn-primary">确认添加</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<include file="Public:footer"/>