<extend name="Public:head"/>
<block name="main">
    <!-- 头部 -->
    <div class="header-container bgfff z3">
        <div class="weui-cell ih30 box">
            <div class="weui-cell__hd">
            </div>
            <div class="weui-cell__bd re textcenter">
                <div class="headleft" linkto="{:U('Shop/managegoods')}"><img class="wh20 y3" src="__WEBPUBLIC__/Wechat/img/back2.png" style="transform:rotate(180deg);vertical-align: sub;"></div>
                新增商品
                <!-- <span class="fr tc">退出</span> -->
            </div>
            <!--<div class="weui-cell__ft">
                <img src="/Public/Wechat/img/fenx.png" class="iconfenx"/>
            </div>-->
        </div>
    </div>

     <!-- 内容 -->
    <div class="xq_container">
        <div class="after bgfff">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <textarea class="weui-textarea title" placeholder="请输入商品名称" rows="3" autosave="title"></textarea>
                </div>
            </div>
        </div>
        <div class="pad10 after bgfff d_b3">
            <div class="weui-uploader__hd">
                <p class="fs17 weui-uploader__title">封面图上传</p>
            </div>
            <div class="weui-uploader__bd">
                <ul class="weui-uploader__files" id="uploaderFiles2">
                    
                </ul>
                <a class="weui-uploader__input-box imgbox2">
                </a>
            </div>
        </div>
        <div class="pad10 after bgfff">
            <div class="weui-uploader__hd">
                <p class="fs17 weui-uploader__title">详情图上传</p>
            </div>
            <div class="weui-uploader__bd">
                <ul class="weui-uploader__files" id="uploaderFiles">
                    
                </ul>
                <a class="weui-uploader__input-box imgbox1">
                </a>
            </div>
        </div>
        <div class="pad10 ih30 colb3">
            精美的图片让商品脱颖而出
        </div>
        <div class="bgfff mgb10">
            <a class="weui-cell weui-cell_access" href="{:U('Shop/addshoptype')}">
                <div class="weui-cell__bd">
                    <p>商品类型</p>
                </div>
                <div class="weui-cell__ft fs14 goodtype">实物商品</div>
            </a>
            <a class="weui-cell weui-cell_access" href="{:U('Shop/shopclass')}">
                <div class="weui-cell__bd">
                    <p>商品品类</p>
                </div>
                <div class="weui-cell__ft fs14 classarea"></div>
            </a>
            <a class="weui-cell weui-cell_access choseclass">
                <div class="weui-cell__bd">
                    <p>商品规格 <span class="colb3">(可选)</span></p>
                </div>
                <div class="weui-cell__ft fs14"></div>
            </a>
            <div class="pad10">
               <div class="addshopnumbox ih30">
                    <div class="flex padtb10 after">
                        <span class="mgr5">规格</span>
                        <input class="flex1 goods_attr" type="text" name="" autosave="goods_attr">
                    </div>
                    <div class="flex padtb10 after">
                        <span class="mgr5">价格</span>
                        <input class="flex1 price" type="number" name="" autosave="price">
                        <span>￥</span>
                    </div>
                    <div class="flex padtb10">
                        <span class="mgr5">库存</span>
                        <input class="flex1 stock" type="number" name="" autosave="stock">
                    </div>
                </div> 
            </div>  
        </div>

        <div class="bgfff">
            <div class="weui-cell istype0">
                <div class="weui-cell__bd">
                    <p>设置运费</p>
                </div>
                <div class="weui-cell__ft">该商品运费<input type="number" value="0" class="freight_inp">元</div>
            </div>
            <a class="weui-cell weui-cell_access showload" linkto="{:U('Shop/editshopinfo')}">
                <div class="weui-cell__bd">
                    <p>商品图文描述</p>
                </div>
                <div class="weui-cell__ft conflag">未添加</div>
            </a>
        </div>
    </div>

    <div class="addshopfoot flex">
        <div class="shelvesbut flex1">上架出售</div>
        <div class="warehousebut flex1">加入仓库</div>
    </div>
</block>
<block name="footerjs">
<script>
    var dataargs={
        "shop_id":shop_id,
        "p" : 1,
        "state" : 1
    };
    //如果是ios添加返回
    if((isApp||isA)&&!!navigator.userAgent.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/)){
        $('.header-container .weui-cell__hd').addClass('back');
        backinput();
    }
    //显示运费
    // requestUrl("{:U('Api/Store/setPostage')}",{shop_id:shop_id},function(res){
    //     if(res.flag=="success"){
    //         if(res.data>0){
    //             $('.freight_inp').val(res.data);
    //         }
    //     }
    // },'GET');
    var toppic = JSON.parse( sessionStorage.getItem("toppic") );
    var lunpic = JSON.parse( sessionStorage.getItem("lunpic") );
    var class_id = JSON.parse( sessionStorage.getItem("class_id") );
    var attrs = JSON.parse( sessionStorage.getItem('attrs') );
    var prices = JSON.parse( sessionStorage.getItem('prices') );
    var content = sessionStorage.getItem('content');
    var type = sessionStorage.getItem('type');
    var stock = sessionStorage.getItem('stock');
    var price = sessionStorage.getItem('price');
    var goods_attr = sessionStorage.getItem('goods_attr');
    var title = sessionStorage.getItem('title');
    if (stock != "") {
        $(".stock").val(stock);
    }
    if (price != "") {
        $(".price").val(price);
    }
    if (goods_attr != "") {
        $(".goods_attr").val(goods_attr);
    }
    if (title != "") {
        $(".title").val(title);
    }
    console.log(type);
    if (type == 1) {
        $(".goodtype").text("电子卡劵");
    }else{
        $(".addshopnumbox").remove();
        $(".goodtype").text("实物商品");
    }

    $("[autosave]").on('change',function () {
        var key = $(this).attr("autosave");
        var val = $(this).val();
        sessionStorage.setItem(key,val);
    });
    if (content && content != "" && content != null) {
        $(".conflag").text("可编辑");
    }
    if ( toppic ) {
        if(toppic.length){
            var str='';
            $('.imgbox2').addClass('none');
            for (var i = 0; i < toppic.length; i++) {
                var hip = toppic[i];
                str += '<li class="weui-uploader__file myimgli" style="background-image:url('+hip.pic_name+')"><span class="imgremove" style="color:red">X</span></li>';
            }
            $("#uploaderFiles2").append(str);
        }   
    }

    if ( lunpic ) {
        var str='';
        for (var i = 0; i < lunpic.length; i++) {
            var hip = lunpic[i];
            str += '<li class="weui-uploader__file myimgli" style="background-image:url('+hip.pic_name+')"><span class="imgremove" style="color:red">X</span></li>';
        }
        if(lunpic.length==3){
            $('.imgbox1').addClass('none');
        }
        $("#uploaderFiles").append(str);
    }

    if ( class_id ) {
        var str = '';
        for (var i = 0; i < class_id.length; i++) {
            if ( i != 0 ) {
                str = ">>" + str;
            }
            str = class_id[i].cate_name + str;
        }
        $(".classarea").text( str );
    }

    $(".choseclass").on('click',function() {
        if (type == 1) {
            layer.msg("请选择实物商品！");
            return;
        }
        if ( class_id && class_id.length > 0 ) {
            sessionStorage.removeItem("edit");

            window.location.href = "{:U('Shop/addshopspec')}";
        }else{
            layer.msg("请选择分类！");
        }
    });

    //添加单图
    function mychange2 (data) {
        var fileimg=data.files; 
            /*图片转Base64 核心代码*/  
            var file = fileimg[0];  
            //这里我们判断下类型如果不是图片就返回 去掉就可以上传任意文件  
            if (!/image\/\w+/.test(file.type)) {  
                layer.msg("请确保文件为图像类型");  
                return false;  
            }  
            var reader = new FileReader(); 
            reader.onload = function (e) {  
                var str='<li class="weui-uploader__file myimgli" style="background-image:url('+this.result+')"><span class="imgremove" style="color:red">X</span></li>';
                $("#uploaderFiles2").append(str);
                render(this.result,file.name,1);
                $(".imgbox2").hide();
            }  
            
            reader.readAsDataURL(file);  
    };
    //获取相册数量
    var album=0;
    requestUrl("{:U('Api/Store/albumList')}",{"shop_id":shop_id,"p":1},function(data){
            if(data.flag=="success"){
                album= +data.data.count;
            }else{
                if(data.message=="暂无数据"){
                    layer.msg('相册数量为零')
                    return;
                }
                layer.msg(data.message);
            }
    });
    $('.imgbox2').click(function(){
        if(album){
            location.href="{:U('Shop/chosealbum')}/c_name/toppic/c_num/1";
        }else{
            layer.msg('相册无图片');
        }
    })
    $('.imgbox1').click(function(){
        if(album){
            location.href="{:U('Shop/chosealbum')}/c_name/lunpic/c_num/3";
        }else{
            layer.msg('相册无图片');
        }
    })
    // 点击删除图片
    $("#uploaderFiles").on("click",".imgremove",function(){
        var index = $(this).parent().index();
        $(this).parent().remove();
        $('.imgbox1').removeClass('none');
        lunpic.splice(index,1);
        sessionStorage.setItem("lunpic",JSON.stringify(lunpic));
    });
    $("#uploaderFiles2").on("click",".imgremove",function(){
        var index = $(this).parent().index();
        $(this).parent().remove();
        toppic.splice(index,1);
        sessionStorage.setItem("toppic",JSON.stringify(toppic));
        $('.imgbox2').removeClass('none');
    });
    $(".shelvesbut,.warehousebut").on('click',function () {
        var dataargs = {
            title : $(".title").val(),
            shop_id : shop_id,
            attrs : JSON.stringify(attrs),
            content : content,
            type : type || 0
        }
        if(+dataargs.type==0){
            if(!attrs){
                layer.msg('请选择规格');
                return;
            }
        }
        if (type != 1) {
            dataargs.prices =JSON.stringify(prices);
        }
        if ($(".goods_attr").val() && type == 1 ) {
            dataargs.goods_attr = $(".goods_attr").val();
        }
        if ($(".price").val() && type== 1 ) {
            dataargs.price = $(".price").val();
        }
        if ($(".stock").val() && type == 1 ) {
            dataargs.stock = $(".stock").val();
        }
        if (toppic) {
            dataargs.pic = toppic[0]['pic_name'];
        }
        if ($(this).hasClass('shelvesbut')) {
            dataargs.is_sale = 1;
        }else{
            dataargs.is_sale = 0;
        }
        console.log(dataargs);
        var lunarr = [];
        if(lunpic){
            for (var i = 0; i < lunpic.length; i++) {
                lunarr.push(lunpic[i]['pic_name']);
            }
        }else{
            layer.msg('请选择图片！');
            return;
        };
        dataargs.pic_more = lunarr.join(",");
        var i = 1;
        class_id = JSON.parse( sessionStorage.getItem("class_id") );
        while ( class_id && class_id.length > 0 ) {
            if (i == 1) {

                dataargs.parent_id = class_id.pop().cate_id;

            }else if(i == 2){

                dataargs.second_id = class_id.pop().cate_id;

            }else if(i == 3){

                dataargs.three_id = class_id.pop().cate_id;

            }
            ++i;
        }
        var freight_inp=$('.freight_inp').val();
        if(freight_inp>0){
           dataargs.postage=freight_inp;
        }else{
            dataargs.postage=0;
        };
        console.log(dataargs);
        requestUrl("{:U('Api/Product/addGoods')}",dataargs,function ( res ) {
            if ( res.flag == "success" ) {
                layer.msg( res.message );
                sessionStorage.removeItem("toppic");
                sessionStorage.removeItem("lunpic");
                sessionStorage.removeItem("class_id");
                sessionStorage.removeItem("attrs");
                sessionStorage.removeItem("prices");
                sessionStorage.removeItem("type");
                sessionStorage.removeItem("stock");
                sessionStorage.removeItem("price");
                sessionStorage.removeItem("goods_attr");
                sessionStorage.removeItem("title");
                sessionStorage.removeItem("content");
                // localStorage.removeItem("meditAutosaveedit");
                setTimeout(function(){
                    window.location.href = "{:U('Shop/managegoods')}";
                },1000);
            }else{
                layer.msg( res.message );
            }
        })
    });
</script>
</block>