<extend name="Public:header"/>
<block name="main">
	<div class="header-container colfff">
		<div class="weui-cell ih30">
			<div class="weui-cell__hd"></div>
			<div class="weui-cell__bd">
				<p>账单</p>
			</div>
			<div class="weui-cell__ft colfff pore">
				筛选
				<select class="opainput billtype">
                    <option value="">全部</option>
					<option value="1">转账</option>
                    <option value="2">收益</option>
					<option value="3">消费</option>
                    <option value="4">兑换</option>
                    <option value="5">提现</option>
                    <option value="6">退款</option>
                    <option value="7">抽奖</option>
				</select>
			</div>
		</div>
	</div>

	<div class="xq_container">
		
		<div class="pad10 fs0-8">
			<span>本月</span>
			<span class="fr icon riliicon pore">
				查看其它月份
				<input type="month" name="" class="opainput billmonth">
			</span>
		</div>

		<div class="weui-cells fs0-8 mat0 billList">
			
		</div>

        <div class="disn texcen imgarea" style="padding: 10px">
            <div>请输入退款金额</div>
            <div class="weui-cells bgfff">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <input class="weui-input price" type="text" placeholder="请填写退款金额">
                    </div>
                </div>
            </div>
        </div>
    
	</div>
</block>
<block name="footerjs">
	<script>
    var dataargs = {p:1,"shop_id":shop_id};
    //添加商品到列表
    function putGoods(data,args) {
        console.log(data);
        if(data.flag == 'success'){
            var shops = data.data;
            if((!shops || shops.length == 0 ) && args == "fenye"){
                $(".billList").append('<div class="texcen">没有更多了！</div>');
            }else{
                var str ="";
                for(var index in shops){
                    var shop = shops[index];
                    var str1 = shop.total_price == "0.00" ? "" : "<span class='fr'>总收益"+shop.total_price+"</span>";
                    var str2 = shop.total_price == "0.00" ? "" : "收益";
                    str += '<div class="weui-cell bill">'
                    +'<div class="weui-cell__hd texcen">'
                        +'<div class="colbbb">'+shop.year_time+'</div>'
                        +'<div class="borad4 bgjb colfff">'+shop.time+'</div>'
                    +'</div>'
                    +'<div class="weui-cell__hd pad0-10">'
                        +'<img class="hnrimg" src="'+shop.head_pic+'"/>'
                    +'</div>'
                    +'<div class="weui-cell__bd">'
                        +'<div>'+str2+shop.price+str1+'</div>'
                        +'<div class="colbbb">'+shop.name+'-'+showtype(shop.type)+'</div>'
                    +'</div>'
                    +'<div class="weui-cell__ft">' 
                        +(shop.type == 3 && shop.pay_type == 2 && shop.status == 0 ? '<span class="icon iconedi quxiao" b_id="'+shop.b_id+'">退款</span>' : '')
                        +(shop.type == 3 && shop.pay_type == 2 && shop.status == 2 ? '<span class="icon iconedi">确认中</span>' : '')
                        +(shop.type == 3 && shop.pay_type == 2 && shop.status == 3 ? '<span class="icon">退款成功</span>' : '')
                    +'</div>'
                +'</div>';
                }
                if (args == "fenye") {
                    $('.billList').append(str);
                }else{
                    $('.billList').html(str);
                }
                top_linkto();
            }
        }else{
            layer.msg(data.message);
        }

        if (args == "shouci") {
            fenye();
        }
    }

    $(".billList").on('click','.quxiao',function () {
        var b_id = $(this).attr("b_id");
        layer.open({
            "title":false,
            "type":1,
            "area":["250px","150px"],
            "btn":["确定"],
            "content":$(".imgarea"),
            "yes":function () {
                var price = $(".price").val();
                var reg = /^\d{1,}(.\d{1,2}){0,1}$/;
                if (!reg.test(price)) {
                    layer.msg("金额不合法！");
                    return;
                }
                requestUrl("{:U('Api/Back/applyBack')}",{b_id:b_id,price:price},function (res) {
                    if ( res.flag == "success" ) {
                        layer.msg("等待用户确认！");
                        location.reload();
                    }else{
                        layer.msg(res.message);
                    }
                });
            }
        });
    })
    
    function showtype( status ) {
        switch(status){
            case "1":
            return "转账";
            case "2":
            return "收益";
            case "3":
            return "消费";
            case "4":
            return "兑换";
            case "5":
            return "提现";
            case "6":
            return "退款";
            case "7":
            return "抽奖";
        }
    }

    function getJson(args) {
        console.log(dataargs);
        requestUrl("{:U('Api/Merchant/billList')}",dataargs,function(data){
        	layer.closeAll();
            putGoods(data,args);
        },"GET",true);
    }

    getJson("shouci");
    $(".billtype").on("change",function () {
        var type = $(this).val();
        dataargs.p = 1;
        dataargs.type = type;
        getJson("shouci");
    });
    $(".billmonth").on("change",function () {
        var month = $(this).val();
        dataargs.p = 1;
        dataargs.month = month;
        getJson("shouci");
    });

    
    function fenye(){
        var flag= true;//防止ajax请求期间，对此触发请求数据
        var $_zd = $(".bill").height();//获取每个单项的高度
        var length = 3;//定义预加载的数量，提前三个加载数据
        var $_par = $(".billList");//获取包裹容器
        var winheight = $(window).height();//获取窗口高度
        var curpage = 1;//存储当前的页数v
        $(function(){
            $(window).off("scroll");
            $(window).on("scroll",function(e){
                if(flag){
                    var self = $(this);
                    var scrtop = self.scrollTop() + winheight;
                    var docheight = $_par.height();
                    //console.log(scrtop + "=" + docheight + "=" + $_zd);
                    if(scrtop > docheight - ( length * $_zd ) ){
                        flag = false;
                        dataargs.p = dataargs.p +1;
                        getJson("fenye");
                    }
                }
            });
        });
    }

    function setupWebViewJavascriptBridge(callback) {
        if (window.WebViewJavascriptBridge) {
            return callback(WebViewJavascriptBridge); }
        if (window.WVJBCallbacks) {
            return window.WVJBCallbacks.push(callback); }
        if (!window.WebViewJavascriptBridge) {
             document.addEventListener(
            'WebViewJavascriptBridgeReady'
            , function() {
                callback(WebViewJavascriptBridge)
            },
            false
        );
        }
        window.WVJBCallbacks = [callback];
        var WVJBIframe = document.createElement('iframe');
        WVJBIframe.style.display = 'none';
        WVJBIframe.src = 'https://__bridge_loaded__';
        document.documentElement.appendChild(WVJBIframe);
        setTimeout(function() { document.documentElement.removeChild(WVJBIframe) }, 0)
    }

    setupWebViewJavascriptBridge(function(bridge) {

        bridge.callHandler('drawAction', {}, function(response) {
            console.log("yes");
        })
    })
</script>
</block>