<extend name="Public:header"/>
<block name="main">
    <!-- 头部 -->
    <div class="header-container bgfff z3">
        <div class="weui-cell ih30 box">
            <div class="weui-cell__hd">
            </div>
            <div class="weui-cell__bd textcenter">
            	查看密码
            	<!-- <span class="fr tc">退出</span> -->
            </div>
            <!--<div class="weui-cell__ft">
                <img src="/Public/Wechat/img/fenx.png" class="iconfenx"/>
            </div>-->
        </div>
    </div>
    <!-- 内容 -->
    <div class="xq_container">
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>管理员只读密码</p>
                </div>
                <div class="weui-cell__ft colon"><span></span></div>
            </div>
        </div>
        <div class="pad10 colb3">
            说明:此管理员密码用于店铺简单管理，请妥善管理。
        </div>
        <div class="addbut">
            <a class="colfff inblock w100 h100" href="{:U('Shop/modifyadministratorspas')}">修改管理员密码</a>
        </div>
    </div>
</block>
<block name="footerjs">
<script src="https://cdn.bootcss.com/echarts/3.5.4/echarts.min.js"></script>
<script src="https://cdn.bootcss.com/echarts/3.5.4/echarts.common.min.js"></script>
<script type="text/javascript">
    requestUrl("{:U('Api/Store/getPass')}",{shop_id:shop_id},function(data){
        if(data.flag=="success"){
            $('.colon span').text(data.data.w_md5_pass);
        }else{
            layer.msg(res.message);
        }
    },'GET');
</script>
</block>
