<extend name="Public:header"/>
<block name="main">
    <!-- 头部 -->
        <!-- 头部 -->
    <div class="header-container bgfff z3">
            <div class="weui-cell ih30 box">
                <div class="weui-cell__hd">
                </div>
                <div class="weui-cell__bd textcenter">
                    专属二维码
                    <!-- <span class="fr tc">退出</span> -->
                </div>
                <!--<div class="weui-cell__ft">
                    <img src="/Public/Wechat/img/fenx.png" class="iconfenx"/>
                </div>-->
            </div>
    </div>        
    <!-- 内容 -->
    <div class="xq_container textcenter mh100 flex2 flexcenter">
        <div class="mycodeimgbox w100"><img class="w100 ervimg"></div>
        <div class="colb6">买家扫码支付</div>
    </div>
    
</block>
<block name="footerjs">
<script src="https://cdn.bootcss.com/echarts/3.5.4/echarts.min.js"></script>
<script src="https://cdn.bootcss.com/echarts/3.5.4/echarts.common.min.js"></script>
<script type="text/javascript">
 requestUrl("{:U('Api/Merchant/detail')}",{shop_id:shop_id},function(res){
            if(res.flag=="success"){
                var data = res.data;
                $(".ervimg").attr("src","{:C('API_URL')}/"+data.code);
             }  
        },"POST",true);
  
</script>
</block>
