<extend name="Public:header"/>
<block name="main">
    <div class="body1">
	<!-- 头部 -->
    <div class="header-container bgfff z3">
            <div class="weui-cell ih30 box">
                <div class="weui-cell__hd">
                </div>
                <div class="weui-cell__bd textcenter">
                	注册
                	<!-- <span class="fr tc">退出</span> -->
                </div>
                <!--<div class="weui-cell__ft">
                    <img src="/Public/Wechat/img/fenx.png" class="iconfenx"/>
                </div>-->
            </div>
    </div>
    <!-- 内容 -->
    <div class="xq_container">
        <div class="weui-cell colb6">
                <div class="weui-cell__hd">
                </div>
                <div class="weui-cell__bd">
                    登录账户
                </div>
        </div>
        <div class="weui-cell ih30 bgfff">
                <div class="weui-cell__hd"><label class="mgr10">手机号</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input account" type="number" placeholder="输入手机号"/>
                </div>
        </div>
        <div class="weui-cell weui-cell_vcode ih30 bgfff">
                <div class="weui-cell__hd"><label class="mgr10">图形码</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input verify_code" type="number" placeholder="输入图形码"/>
                </div>
                <div class="weui-cell__ft">
                    <img class="weui-vcode-img changevirify" src="{:U('Api/Login/verify')}" />
                </div>
        </div>
        <div class="weui-cell ih30 weui-cell_vcode bgfff">
                <div class="weui-cell__hd"><label class="mgr10">验证码</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input vc" type="number" placeholder="输入验证码"/>
                </div>
                <div class="weui-cell__ft">
                    <a href="javascript:;" class="weui-vcode-btn getcode">获取验证码</a>
                </div>
        </div>
        <div class="weui-cells fs12">
            <div class="weui-cell ih30 bgfff">
                    <div class="weui-cell__hd"><label class="mgr10">输入密码</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input password" type="password" placeholder="输入密码"/>
                    </div>
            </div>
            <div class="weui-cell ih30 bgfff">
                    <div class="weui-cell__hd"><label class="mgr10">确认密码</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input re_password" type="password" placeholder="确认密码"/>
                    </div>
            </div>
        </div>
        <div class="weui-cell colb6">
                <div class="weui-cell__hd">
                </div>
                <div class="weui-cell__bd">
                    店铺资料
                </div>
        </div> 
        <div class="weui-cell ih30 bgfff">
                    <div class="weui-cell__hd"><label class="mgr10">店铺名称</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input name" type="text" placeholder="输入您的店铺名称"/>
                    </div>
        </div>
        <div class="weui-cell weui-cell_access ih30 bgfff">
                    <div class="weui-cell__hd"><label class="mgr10">店铺分类</label></div>
                    <div class="weui-cell__bd">
                        <select class="weui-select d_classlist" name="d_classlist">
                        
                        </select>  
                    </div>
                    <div class="weui-cell__ft">  
                    </div>
        </div>
        <div class="weui-cell weui-cell_access body2but ih30 bgfff">
                    <div class="weui-cell__hd weui-cell_access"><label class="mgr10">店铺地址</label></div>
                    <div class="weui-cell__bd colb6">
                        
                    </div>
                    <div class="weui-cell__ft">  
                        选择省市区
                    </div>
        </div>
        <div class="weui-cell weui-cell_access showmap ih30 bgfff">
                    <div class="weui-cell__hd"><label class="mgr10">详细地址</label></div>
                    <div class="weui-cell__bd textovh d_addressmain" contenteditable="true">
                        店铺详细地址
                    </div>
                    <div class="weui-cell__ft"> </div>
        </div>
        <div class="weui-cell colb6">
                <div class="weui-cell__hd">
                </div>
                <div class="weui-cell__bd">
                    法人资料
                </div>
        </div>
        <div class="weui-cell ih30 bgfff">
                <div class="weui-cell__hd"><label class="mgr10">法人姓名</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input legal_person" type="text" placeholder="店铺法人姓名"/>
                </div>
        </div> 
        <div class="weui-cell ih30 bgfff">
                <div class="weui-cell__hd"><label class="mgr10">身份证号</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input id_number" type="text" placeholder="法人身份证号"/>
                </div>
        </div> 
        <div class="weui-cell ih30 bgfff">
                <div class="weui-cell__hd"><label class="mgr10">企业邮箱</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input email" type="email" placeholder="输入企业邮箱"/>
                </div>
        </div> 
        <div class="weui-cell ih30 after bgfff">
                <div class="weui-cell__hd"><label class="mgr10">推荐人</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input recommend" type="text" placeholder="推荐人手机号或推荐码"/>
                </div>
        </div>
        <div class="pad10 after bgfff">
                <div class="weui-uploader__hd">
                    <p class="fs17 weui-uploader__title">上传资质<span class="fs0-8 blue">(营业执照，门头照等相关资质)</span></p>
                </div>
                <div class="weui-uploader__bd">
                    <ul class="weui-uploader__files" id="uploaderFiles">
                        
                    </ul>
                    <div class="weui-uploader__input-box imgbox1">
                        <input id="uploaderInput" onchange="mychange(this)" class="weui-uploader__input" type="file" accept="image/*" multiple />
                    </div>
                 </div>
        </div>
         <div class="addbut">
                <span>注册</span>
        </div>  
    </div>

    <!-- 地图 -->
    <div id="containerbox" style="width: 100vw;height: 100vh;position: fixed;top: 0px;z-index: 50;padding-bottom: 50px;">
            <div id="container" style="width: 100vw;height:100%;z-index: 50">
                <div class ='panel'>
                    <input id = 'input' placeholder = '点击地图显示地址/输入地址显示位置'></input>
                    <div id = 'message'></div>
                </div>
                <div class="mapok">确定</div>
            </div>
            <div class="closemap">
                关闭
            </div>
    </div>

    </div>
    <div class="body2 none">
        <div class="header-container colfff">
            <div class="weui-cell ih30">
                <div class="weui-cell__bd dtopback">
                    <p>返回</p>
                </div>
            </div>
        </div> 

        <div class="xq_container">
            <div class="weui-cells body2list">
            </div>
        </div>

    </div>
</block>
<block name="footerjs">
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.3&key=c5e14c05b9c3aef7d437cb31cda7313f&plugin=AMap.Autocomplete">
</script>
<script type="text/javascript">
    // 点击省市区
    var getarr=[];//临时存储地址
    var newarr=[];//存储省市区地址，请求接口用这个
    $('.body2list').on('click','.weui-cell',function(){
        if(getarr.length==0){
            getsheng(2,{'province':$(this).attr('area_id')});
            getarr.push({'name':$(this).attr('area_name'),'id':$(this).attr('area_id')});
        }else if(getarr.length==1){
            getsheng(3,{'city':$(this).attr('area_id')});
            getarr.push({'name':$(this).attr('area_name'),'id':$(this).attr('area_id')});
        }else if(getarr.length==2){
            getarr.push({'name':$(this).attr('area_name'),'id':$(this).attr('area_id')});
            $('.body1').removeClass('none');
            $('.body2').addClass('none');
            $('.body2but .weui-cell__ft').html(getarr[0].name+'>>'+getarr[1].name+'>>'+getarr[2].name);
            newarr=getarr;
            getarr=[];
        }
    });
    // 返回
    $('.body2 .header-container').click(function(){
        if(getarr.length==0){
            $('.body1').removeClass('none');
            $('.body2').addClass('none');
        }else if(getarr.length==1){
            getsheng(1);
            getarr=[];
        }else if(getarr.length==2){
            getsheng(2,{'province':getarr[1].id});
            getarr.pop();
        }
    })

    $('.body2but').click(function(){
        $('.body1').addClass('none');
        $('.body2').removeClass('none');
        getsheng(1);
    });


    // 获取省级num:1省2市3区
    function getsheng(num,fundata){
        var urldata=(num==1?'getProvince':(num==2?'getCity':'getArea'));
        requestUrl("{:U('Api/Merchant/"+urldata+"')}",fundata,function(res) {
                if (res.flag == "success") {
                    var info=res.data;
                    var str="";
                    for(var i=0;i<info.length;i++){
                        str+='<div area_id='+info[i].area_id+' area_name='+info[i].area_name+' class="weui-cell '+(num==3?'weui-cell_access':'')+'">'+
                        '<div class="weui-cell__bd">'+
                            '<p>'+info[i].area_name+'</p>'+
                        '</div>'+
                    '</div>';
                    }
                    $(".body2list").html(str);
                }else{
                    layer.msg(res.message);
                }
        },num==1?"GET":"POST");
    }


    // 添加分类
    requestUrl("{:U('Api/Shop/classList')}",{},function(res) {
        layer.closeAll();
        if (res.flag == "success") {
            var info=res.data;
            for(var i=0;i<info.length;i++){
                var str='<option value='+info[i].class_id+'>'+info[i].name+'</option>';
                $(".d_classlist").append(str);
            }
        }else{
            layer.msg(res.message);
        }
    },"POST",true);

    // 获取验证码
    getCode("{:U('Api/Login/sendVerify')}","register",1);
    var curind = 0;
    var url = "{:U('Api/Login/verify')}";
    $(".changevirify").on('click',function () {
        curind++;
        $(this).attr("src",url+"/"+curind);
    });


    // 图片数组
    var imgarr=[];
    // 点击添加多图图片
    function mychange (data) {
        var fileimg=data.files; 
        var arrnum=imgarr.length;
        var num=arrnum+fileimg.length;
        if(num>3){
            layer.msg("最多上传三张图片");
            return false;
        };
        for(var i =0;i<fileimg.length;i++){    
            /*图片转Base64 核心代码*/  
            var file = fileimg[i];  
            //这里我们判断下类型如果不是图片就返回 去掉就可以上传任意文件  
            if (!/image\/\w+/.test(file.type)) {  
                layer.msg("请确保文件为图像类型");  
                return false;  
            }  
            var reader = new FileReader(); 
            (function(x){
                    reader.onload = function (e) {  
                    var str='<li class="weui-uploader__file myimgli" style="background-image:url('+this.result+')"><span class="imgremove" style="color:red">X</span></li>';
                    $("#uploaderFiles").append(str);
                    if(num==3){
                        $('.imgbox1.weui-uploader__input-box').hide();
                    }
                    render(this.result,x);
                    }  
            })(file.name) 
            
            reader.readAsDataURL(file);  
        }
    };

    var MAX_HEIGHT = 1000;
// 渲染
function render(src,picname,datanum) {
    // 创建一个 Image 对象
    var image = new Image();
    // 绑定 load 事件处理器，加载完成后执行
    image.onload = function() {
        // 获取 canvas DOM 对象
        var canvas = document.createElement("canvas");
        // 如果高度超标
        if (image.height > MAX_HEIGHT && image.height >= image.width) {
            // 宽度等比例缩放 *=
            image.width *= MAX_HEIGHT / image.height;
            image.height = MAX_HEIGHT;
        }
        if (image.width > MAX_HEIGHT && image.width > image.height) {
            // 宽度等比例缩放 *=
            image.height *= MAX_HEIGHT / image.width;
            image.width = MAX_HEIGHT;
        }
        // 获取 canvas的 2d 环境对象,
        // 可以理解Context是管理员，canvas是房子
        var ctx = canvas.getContext("2d");
        // canvas清屏
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        // 重置canvas宽高
        canvas.width = image.width;
        canvas.height = image.height;
        // 将图像绘制到canvas上
        ctx.drawImage(image, 0, 0, image.width, image.height);
        // !!! 注意，image 没有加入到 dom之中
//        document.getElementById('img').src = canvas.toDataURL("image/png");
        var blob = canvas.toDataURL("image/jpeg");
        if(datanum==1){
           
        }else{
            imgarr.push({"pic":blob,"pic_name":picname});
        }
        
        // var fd = new FormData();
        // fd.append("image", blob, "image.png");
        // imgCompressUpload(canvas.toDataURL("image/png"));
       
    };
    // 设置src属性，浏览器会自动加载。
    // 记住必须先绑定事件，才能设置src属性，否则会出同步问题。
    image.src = src;
};

    // 点击删除图片
    $("#uploaderFiles").on("click",".imgremove",function(){
        $(this).parent().remove();
        $("#uploaderInput").remove();
        var str="<input id='uploaderInput' onchange='mychange(this)' class='weui-uploader__input' type='file' accept='image/*' multiple />";
        $(".weui-uploader__input-box.imgbox1").append(str).show();
        imgarr.splice($(this).index()-1,1); 
    });

    //高德地图
     $('.showmap').click(function () {
        console.log(123);
        $('#containerbox').show();
        $('#container').show();
    })
    var lat='';
    var lng='';
    var myaddress="";//详细地址
    var map = new AMap.Map('container',{
            resizeEnable: true,
            zoom: 13,
            // center: [116.39,39.9]
    });

    //定位
     map.plugin('AMap.Geolocation', function() {
        geolocation = new AMap.Geolocation({
            enableHighAccuracy: true,//是否使用高精度定位，默认:true
            timeout: 10000,          //超过10秒后停止定位，默认：无穷大
            buttonOffset: new AMap.Pixel(10, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
            zoomToAccuracy: false,      //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
            buttonPosition:'RB'
        });
        map.addControl(geolocation);
        geolocation.getCurrentPosition();
        AMap.event.addListener(geolocation, 'complete', onComplete);//返回定位信息
        AMap.event.addListener(geolocation, 'error', onError);      //返回定位出错信息
    });

    //解析定位结果
    function onComplete(data) {
        $('#input').val(data.formattedAddress);
        myaddress=data.formattedAddress;
        $('.d_addressmain').html(myaddress);
        lat=data.position.lat;
        lng=data.position.lng;
    }
    //解析定位错误信息
    function onError(data) {
        console.log(data);
    }

    //位置手动输入不显示地图
    $('.d_addressmain').click(function(e){
        e.stopPropagation();
    })

    AMap.plugin('AMap.Geocoder',function(){
        var geocoder = new AMap.Geocoder({
            // city: "010"//城市，默认：“全国”
        });
        var marker = new AMap.Marker({
            map:map,
            bubble:true
        })
        var input = document.getElementById('input');
        var message = document.getElementById('message');
        map.on('click',function(e){
            console.log(e);
            lat=e.lnglat.lat;
            lng=e.lnglat.lng;
            marker.setPosition(e.lnglat);
            geocoder.getAddress(e.lnglat,function(status,result){
              if(status=='complete'){
                 input.value = result.regeocode.formattedAddress;
                 myaddress= result.regeocode.formattedAddress;
                 message.innerHTML = '';
              }else{
                 message.innerHTML = '无法获取地址';
              }
            })
        })
        
        input.onchange = function(e){
            var address = input.value;
            geocoder.getLocation(address,function(status,result){
                console.log(status);
                console.log(result);
              if(status=='complete'&&result.geocodes.length){
                lat=result.geocodes[0].location.lat;
                lng=result.geocodes[0].location.lng;
                myaddress=result.geocodes[0].formattedAddress;
                marker.setPosition(result.geocodes[0].location);
                map.setCenter(marker.getPosition());
                message.innerHTML = ''
              }else{
                message.innerHTML = '无法获取位置'
              }
            })
        }

    });

    $('.mapok,.closemap').click(function (e) {
        e.stopPropagation();
        $('.d_addressmain').html(myaddress);
        $('#containerbox').hide();
        $('#container').hide();
    });

    $('.addbut').click(function(){
        var account=$('.account').val();
        var name=$('.name').val();
        var password=$('.password').val();
        var repassword=$('.re_password').val();
        var class_id=$('.d_classlist').val();
        var legal_person=$('.legal_person').val();
        var id_number=$('.id_number').val();
        var email=$('.email').val();
        var recommend=$('.recommend').val();
        var vc=$('.vc').val();


        if(imgarr.length<1){
           layer.msg("最少上传一张图片");
           return;
        }else if(!account||!vc||!password||!repassword||!name||!legal_person||!id_number||!email){
           layer.msg("信息不能为空");
           return;
        }else if(password!=repassword){
           layer.msg("两次输入密码不一致");
           return;
        }else if(newarr.length!=3){
            layer.msg("请选择省市区");
           return;
        }else if(!myaddress){
            layer.msg("请选择详细地址");
           return;
        }

        var dingdata={"account":account,"name":name,"password":password,"re_password":repassword,"recommend":recommend,"vc":vc,"pic":imgarr,"class_id":class_id,"lnt":lng,"lat":lat,"address":myaddress,"province":newarr[0].id,"city":newarr[1].id,"area":newarr[2].id};
        var reg = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/;
        if (!legal_person){
            layer.msg("请填写法人姓名");
            return;
        }else if(!/\d{17}[\d|X|x]{1}/.test(id_number)){
            layer.msg("请核对身份证号！");
            return;
        }else if(!reg.test(email) ) {
            layer.msg("请核对您的邮箱！");
            return;
        }
        dingdata.legal_person = legal_person;
        dingdata.id_number = id_number;
        dingdata.email = email;

        requestUrl("{:U('Api/Merchant/shopRegister')}",dingdata,function(res) {
           layer.msg(res.message);
            if (res.flag == "success") {
                 alert("签订合同，加速审核速度！");
                 goSign(res.data.shop_id);
            }else{
                
            }
        },"POST",true) ;
    });

    function goSign (shop_id) {
         requestUrl("{:U('Api/Ht/sign')}",{shop_id:shop_id},function ( res ) {
            if ( res.flag == "success" ) {
                window.location.href = res.data;
            }else{
                layer.msg( res.message );
            }
         })
    }
</script>
</block>