<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <title>众享通赢T+</title>
    <link rel="stylesheet" href="__WEBPUBLIC__/Wechat/css/weui.css">
    <link rel="stylesheet" href="__WEBPUBLIC__/Wechat/css/newding.css?s=6">
    <link rel="stylesheet" href="__WEBPUBLIC__/Wechat/css/xq_slide.css">
    <link rel="stylesheet" href="__WEBPUBLIC__/Wechat/css/top.css?a=1">
    <block name="headdiv"></block>
</head>
<body class="bgf6">
<block name="main"></block>

<div class="xq_loadding">
    
</div>
<script>
    var m_id = "{$m_id}";
    var is_bind = "{$is_bind}";
    var is_open = "{$is_open}";
    var wallet = +"{$wallet}";
    
    
    var isApp = "{$_REQUEST['isApp']}";
    if ( isApp ) {
        sessionStorage.setItem("isApp",isApp);
    }else if(sessionStorage.getItem( "isApp" )){
        isApp = sessionStorage.getItem( "isApp" );
    }
    if (!m_id) {
        m_id = "{$_REQUEST['m_id']}";
    }
    if (!is_open) {
        is_open = "{$_REQUEST['is_open']}";
    }
    if ( m_id ) {
        sessionStorage.setItem("m_id",m_id);
    }else if(sessionStorage.getItem( "m_id" )){
        m_id = sessionStorage.getItem( "m_id" );
    }

</script>
<script src="__WEBPUBLIC__/Wechat/js/jquery.js"></script>
<script src="__WEBPUBLIC__/Wechat/js/zepto.min.js"></script>
<script src="__WEBPUBLIC__/Wechat/js/layer/layer.js"></script>
<script src="__WEBPUBLIC__/Wechat/js/public.js?s=2"></script>
    <!--微信二维码扫描点餐js-->
<script src="https://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
<script>
    wx.config({
        debug: false,
        appId: "{$appid}",
        timestamp:'{$wx.timestamp}',
        nonceStr: '{$wx.nonceStr}',
        signature:'{$wx.signature}',
        jsApiList: [
            // 所有要调用的 API 都要加到这个列表中
            'scanQRCode',
            'openLocation',
            'getLocation',
            "onMenuShareTimeline",
            "onMenuShareAppMessage",
            "onMenuShareQQ",
            "onMenuShareWeibo",
            "onMenuShareQZone",
        ]
    });
    var url = window.location.href;
    var reg = /code/;
    if(reg.test(url)){
        url = url.replace(/[&|?](code).*/,"");
    }
    var obj = {
        title:'众享通赢', // 分享标题
        link: url,
        imgUrl: 'https://www.qufutong.me/Uploads/logo.png', // 分享图标
        desc: '加入众享通赢，从此没有难做的生意，爱上我们，让生活充满期待！', // 分享描述
        success: function () {
            layer.msg("分享成功！");
            // 用户确认分享后执行的回调函数
        },
        cancel: function () {
            // 用户取消分享后执行的回调函数
        }
    };
    wx.ready(function(){
        wx.onMenuShareTimeline(obj);

        wx.onMenuShareAppMessage(obj);

        wx.onMenuShareQQ(obj);

        wx.onMenuShareWeibo(obj);

        wx.onMenuShareQZone(obj);
    });

    /**百度统计*/
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?6d397711b7000c30906c346a5eb8e212";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();


    //newweb foot
    // 如果是app调用删除尾部四个导航
    if(isApp==1){
        $(".foot.z5").remove();
        $(".foot.z5").css("bottom","0px");
        $(".header-container").remove();
        // $("[for='x11']").remove();
        $('.shopkefu').removeClass('none');
    }

    if(isApp==2){
        sessionStorage.setItem("isApp","2");
        $(".foot.z5").remove();
        $(".foot.z5").css("bottom","0px");
        backinput();
        $('.shopkefu').removeClass('none');
    }

    if(isApp==3){
        sessionStorage.setItem("isApp","3");
        $(".header-container").remove();
        $('.shopkefu').removeClass('none');
    }

    if(isApp){
        $('.addressback').hide();
    }

    function backinput() {
        $(".back").html('<img style="width:20px;height:20px;" src="__WEBPUBLIC__/Wechat/img/back.png"/>');
        
        $(".back").on('click',function () {
            history.go(-1);
        });
    }
    //如果是ios
    if((isApp)&&!!navigator.userAgent.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/)){
        $('.header-container .weui-cell__hd').addClass('back');
        backinput();
    }
</script>

<block name="footerjs"></block>

</body>
</html>
