<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <title>收货地址</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/top.css">
    <script src="../js/jquery.js"></script>
    <script src="../js/zepto.min.js"></script>
</head>
<body class="bgeee">
    <div class="header-container colfff">
        <div class="weui-cell ih30">
            <div class="weui-cell__hd"></div>
            <div class="weui-cell__bd">
                <p>收货地址</p>
            </div>
        </div>
    </div>

    <div class="xq_container">
        <div class="fs0-8 colbbb ih30 texcen">请填写您的联系方式，等待客户人员与您联系。</div>
       <div class="weui-cells bgfff mat0">
            <div class="weui-cell">
                <div class="weui-cell__hd mar15">
                    姓名
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="填写您的姓名"/>
                </div>
            </div>

            <div class="weui-cell">
                <div class="weui-cell__hd mar15">
                    手机号
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="tel" placeholder="填写您的手机号"/>
                </div>
            </div>

            <div class="weui-cell">
                <div class="weui-cell__hd mar15">
                    收货地址
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="填写您的收货地址"/>
                </div>
            </div>
        </div>
        
        <div class="weui-btn-area">
            <a class="weui-btn bgccc nobor" href="javascript:">确认</a>
        </div>
        
    </div>
    <script type="text/javascript">
        
    </script>
</body>
</html>