<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="telephone=no" name="format-detection">
		<title>选择城市</title>
		<link rel="stylesheet" type="text/css" href="../css/weui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/top.css" />
		<link rel="stylesheet" type="text/css" href="../css/Ding_shop.css" />
	</head>
	<body class="bgeee">
		<div class="header-container colfff">
			<div class="weui-cell ih30">
				<div class="weui-cell__hd"></div>
				<div class="weui-cell__bd">
					<p>选择城市</p>
				</div>
			</div>
		</div>
		<div class="searchdiv">
			<div class="searchtop">
				<img class="search2" src="../img/search2.png"/>
				<input placeholder="输入城市搜索" class="search_input2" type="text" />
			</div>
			<div class="searchfoot">
				<span>当前定位</span>
				<span class="city_span">天津</span>
			</div>
		</div>
		<!--已开通城市文本-->
		<div class="citytext">
			已开通城市
		</div>
		<!--城市div-->
		<div class="citydiv">
			<div class="citybox">北京</div>
			<div class="citybox">北京</div>
			<div class="citybox">北京</div>
			<div class="citybox">北京</div>
			<div class="citybox">北京</div>
			<div class="citybox">北京</div>
			<div class="citybox">北京</div>
			<div class="citybox">北京</div>
			<div class="citybox">北京</div>
			<div class="citybox">北京</div>
			<div class="citybox">北京</div>
			<div class="citybox">北京</div>
			<div class="citybox">北京</div>
			<div class="citybox">北京</div>
			<div class="citybox">北京</div>
		</div>
		<script src="../js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/zepto.min.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
