<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="telephone=no" name="format-detection">
		<title>股数</title>
		<link rel="stylesheet" type="text/css" href="../css/weui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/top.css" />
		<link rel="stylesheet" type="text/css" href="../slide/css/xq_slide.css" />
		<link rel="stylesheet" type="text/css" href="../css/Ding_shop.css" />
	</head>

	<body>
		<div class="header-container colfff">
			<div class="weui-cell ih30">
				<div class="weui-cell__hd"></div>
				<div class="weui-cell__bd">
					<p>股数</p>
				</div>
			</div>
		</div>
		<!--头部-->
		<div class="rsharestop">
			<div class="weui-flex d_flex">
				<div class="weui-flex__item">
					<div class="placeholder">股数</div>
				</div>
				<div class="weui-flex__item">
					<div class="placeholder">收益</div>
				</div>
				<div class="weui-flex__item">
					<div class="placeholder">剩余</div>
				</div>
			</div>
		</div>
		<!--内容-->
		<div class="rsharesmain">
			<div class="weui-flex d_flex">
				<div class="weui-flex__item">
					<div class="placeholder">1股</div>
				</div>
				<div class="weui-flex__item">
					<div class="placeholder">500</div>
				</div>
				<div class="weui-flex__item">
					<div class="placeholder">300</div>
				</div>
			</div>
			<div class="weui-flex d_flex">
				<div class="weui-flex__item">
					<div class="placeholder">2股</div>
				</div>
				<div class="weui-flex__item">
					<div class="placeholder">500</div>
				</div>
				<div class="weui-flex__item">
					<div class="placeholder">300</div>
				</div>
			</div>
			<div class="weui-flex d_flex">
				<div class="weui-flex__item">
					<div class="placeholder">1股</div>
				</div>
				<div class="weui-flex__item">
					<div class="placeholder">500</div>
				</div>
				<div class="weui-flex__item">
					<div class="placeholder">300</div>
				</div>
			</div>
			<div class="weui-flex d_flex">
				<div class="weui-flex__item">
					<div class="placeholder">2股</div>
				</div>
				<div class="weui-flex__item">
					<div class="placeholder">500</div>
				</div>
				<div class="weui-flex__item">
					<div class="placeholder">300</div>
				</div>
			</div>
			<div class="weui-flex d_flex">
				<div class="weui-flex__item">
					<div class="placeholder">1股</div>
				</div>
				<div class="weui-flex__item">
					<div class="placeholder">500</div>
				</div>
				<div class="weui-flex__item">
					<div class="placeholder">300</div>
				</div>
			</div>
			<div class="weui-flex d_flex">
				<div class="weui-flex__item">
					<div class="placeholder">1股</div>
				</div>
				<div class="weui-flex__item">
					<div class="placeholder">500</div>
				</div>
				<div class="weui-flex__item">
					<div class="placeholder">300</div>
				</div>
			</div>
			<div class="weui-flex d_flex">
				<div class="weui-flex__item">
					<div class="placeholder">1股</div>
				</div>
				<div class="weui-flex__item">
					<div class="placeholder">500</div>
				</div>
				<div class="weui-flex__item">
					<div class="placeholder">300</div>
				</div>
			</div>
			<div class="weui-flex d_flex">
				<div class="weui-flex__item">
					<div class="placeholder">1股</div>
				</div>
				<div class="weui-flex__item">
					<div class="placeholder">500</div>
				</div>
				<div class="weui-flex__item">
					<div class="placeholder">300</div>
				</div>
			</div>
			<div class="weui-flex d_flex">
				<div class="weui-flex__item">
					<div class="placeholder">1股</div>
				</div>
				<div class="weui-flex__item">
					<div class="placeholder">500</div>
				</div>
				<div class="weui-flex__item">
					<div class="placeholder">300</div>
				</div>
			</div>
		</div>
		<script src="../js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/zepto.min.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>