<extend name="Public:head"/>
<block name="main">
    <!-- 头部 -->
    <div class="header-container bgfff">
            <div class="weui-cell ih30 box">
                <div class="weui-cell__hd">
                </div>
                <div class="weui-cell__bd re textcenter">
                    <div class="headleft" linkto="{:U('Refund/refundinfo',array('return_id'=>$_GET['return_id']))}"><img class="wh20 y3" src="__WEBPUBLIC__/Wechat/img/back2.png" style="transform:rotate(180deg);vertical-align: sub;"></div>
                    协商历史
                </div>
                <!--<div class="weui-cell__ft">
                    <img src="/Public/Wechat/img/fenx.png" class="iconfenx"/>
                </div>-->
            </div>
    </div>
    <!-- 内容 -->
    <div class="xq_container">
        <div class="bgfff mgb10">
            <div class="weui-cell">
                <div class="weui-cell__hd carshopimg fs0 mgr5">
                    <img class="head_pic1" src="">
                </div>
                <div class="weui-cell__bd">
                    <div class="name1"></div>
                    <div class="colb3 time1"></div>
                </div>
            </div>
            <div class="after padb10 padlr10 blue">申请退款</div>
            <div class="pad10">
                <div> <span class="return_status"></span></div>
                <div><span class="price"></span></div>
                <div><span class="reason"></span></div>
                <div><span class="remark"></span></div>
                <div class="pjimgbox none"></div>
            </div>
        </div>
        <div class="bgfff div2 none mgb10">
            <div class="weui-cell">
                <div class="weui-cell__hd carshopimg fs0 mgr5">
                    <img class="head_pic2" src="">
                </div>
                <div class="weui-cell__bd">
                    <div class="name2"></div>
                    <div class="colb3 time2"></div>
                </div>
            </div>
            <div class="after padb10 padlr10 blue type2"></div>
            <div class="pad10 info2">
                
            </div>
        </div>
        <div class="bgfff div3 none mgb10">
            <div class="weui-cell">
                <div class="weui-cell__hd carshopimg fs0 mgr5">
                    <img class="head_pic3" src="">
                </div>
                <div class="weui-cell__bd">
                    <div class="name3"></div>
                    <div class="colb3 time3"></div>
                </div>
            </div>
            <div class="after padb10 padlr10 blue type3"></div>
            <div class="pad10">
                <div><span class="other_two"></span></div>
                <div><span class="other_three"></span></div>
                <div><span class="other_four"></span></div>
            </div>
        </div>
        <div class="bgfff div4 none mgb10">
            <div class="weui-cell">
                <div class="weui-cell__hd carshopimg fs0 mgr5">
                    <img class="head_pic4" src="">
                </div>
                <div class="weui-cell__bd">
                    <div class="name4"></div>
                    <div class="colb3 time4"></div>
                </div>
            </div>
            <div class="after padb10 padlr10 blue type4">买家已退货</div>
            <div class="pad10">
                <div>快递公司: <span class="other_one"></span></div>
                <div>快递单号: <span class="other_two"></span></div>
            </div>
        </div>
        <div class="bgfff div5 none mgb10">
            <div class="weui-cell">
                <div class="weui-cell__hd carshopimg fs0 mgr5">
                    <img class="head_pic5" src="">
                </div>
                <div class="weui-cell__bd">
                    <div class="name5"></div>
                    <div class="colb3 time5"></div>
                </div>
            </div>
            <div class="after padb10 padlr10 blue type5"></div>
        </div>
        <div class="bgfff div6 none mgb10">
            <div class="weui-cell">
                <div class="weui-cell__hd carshopimg fs0 mgr5">
                    <img class="head_pic6" src="">
                </div>
                <div class="weui-cell__bd">
                    <div class="name6"></div>
                    <div class="colb3 time6"></div>
                </div>
            </div>
            <div class="after padb10 padlr10 blue type6"></div>
        </div>
    </div>

    <div class="returnfootbox bgfff">
        
    </div>
</block>
<block name="footerjs">
<script type="text/javascript">
    var return_id="{$_GET['return_id']}";
    var mydata={return_id:return_id};
    var delivery_number=0;//物流单号
    //如果是ios添加返回
    if((isApp||isA)&&!!navigator.userAgent.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/)){
        $('.header-container .weui-cell__hd').addClass('back');
        backinput();
    }
    // 同意拒绝
    $('.returnfootbox').on('click','.ty,.jj',function(){
        var num=$(this).index();
        layer.open({
            content: '确认'+(num==0?"同意":"拒绝")+'退款？'
            ,btn: ['确认', '取消']
            ,yes: function(index, layero){
            //按钮【按钮一】的回调
            if(num==0){
                if(refundtype==1){
                    mydata.status=num+1;
                    requestUrl("{:U('Api/ReturnOrder/backOutReturnOrder')}",mydata,function(data){
                        if(data['flag'] == "success"){
                           // layer.msg('已同意退款!');
                           // setTimeout(function(){
                           //      location.href="{:U('Refund/refundlist')}";
                           // },1500);
                           gothdz();
                        }else if(data['flag'] == "error"){
                            layer.msg(data['message']);
                        }
                    },"POST",true);
                }else{
                    requestUrl("{:U('Api/ReturnOrder/makeSureReturnOrder')}",{shop_id:shop_id,return_id:return_id,status:3},function(data){
                        if(data['flag'] == "success"){
                           layer.msg('退款成功！');
                           setTimeout(function(){
                                location.reload();
                           },1500);
                        }else if(data['flag'] == "error"){
                            layer.msg(data['message']);
                        }
                    },"POST",true);
                }
            }else{
                mydata.status=num+1;
                requestUrl("{:U('Api/ReturnOrder/backOutReturnOrder')}",mydata,function(data){
                    if(data['flag'] == "success"){
                       layer.msg('已拒绝退款!');
                       setTimeout(function(){
                            location.href="{:U('Refund/refundlist')}";
                       },1500);
                    }else if(data['flag'] == "error"){
                        layer.msg(data['message']);
                    }
                },"POST",true);
            }  
            layer.close(index);
            }
            ,btn2: function(index, layero){
            //按钮【按钮二】的回调
            
            //return false 开启该代码可禁止点击该按钮关闭
            }
            ,cancel: function(){ 
            //右上角关闭回调
            
            //return false 开启该代码可禁止点击该按钮关闭
            }
        });
    });
    //查看物流
    $('.returnfootbox').on('click','.ckwl',function(){
        layer.open({
            title:'物流单号'
            ,content:delivery_number
            ,btn: ['确认', '取消']
            ,yes: function(index, layero){
            //按钮【按钮一】的回调
                layer.close(index);
            }
            ,btn2: function(index, layero){
            //按钮【按钮二】的回调
            
            //return false 开启该代码可禁止点击该按钮关闭
            }
            ,cancel: function(){ 
            //右上角关闭回调
            
            //return false 开启该代码可禁止点击该按钮关闭
            }
        });
    });
    function gothdz(){
        layer.open({
            title:'同意成功'
            ,content: '已同意退款，是否选择退货地址？'
            ,btn: ['确认', '取消']
            ,yes: function(index, layero){
            //按钮【按钮一】的回调
                var url="{:U('Shop/choiceaddress')}/type/1/return_id/"+return_id;
                location.href=url;
            layer.close(index);
            }
            ,btn2: function(index, layero){
            //按钮【按钮二】的回调
            
            //return false 开启该代码可禁止点击该按钮关闭
            }
            ,cancel: function(){ 
            //右上角关闭回调
            
            //return false 开启该代码可禁止点击该按钮关闭
            }
        });
    }
    //选择地址
    $('.returnfootbox').on('click','.thdz',function(){
        var url="{:U('Shop/choiceaddress')}/type/1/return_id/"+return_id;
        location.href=url;
    });
    //确认收货
    $('.returnfootbox').on('click','.qrsh',function(){
       layer.open({
            content: '确认收货？'
            ,btn: ['确认', '取消']
            ,yes: function(index, layero){
            //按钮【按钮一】的回调
                requestUrl("{:U('Api/ReturnOrder/makeSureReturnOrder')}",{shop_id:shop_id,return_id:return_id,status:3,},function(data){
                    if(data['flag'] == "success"){
                       layer.msg('收货成功！');
                       setTimeout(function(){
                            location.reload();
                       },1500);
                    }else if(data['flag'] == "error"){
                        layer.msg(data['message']);
                    }
                },"POST",true);
                layer.close(index);
            }
            ,btn2: function(index, layero){
            //按钮【按钮二】的回调
            
            //return false 开启该代码可禁止点击该按钮关闭
            }
            ,cancel: function(){ 
            //右上角关闭回调
            
            //return false 开启该代码可禁止点击该按钮关闭
            }
        });
    });
    var refundtype=1;//退款类型 1位退货退款，2为仅退款
    requestUrl("{:U('Api/ReturnOrder/returnOrderHistoryDetail')}",{return_id:return_id},function(data){
                if(data['flag'] == "success"){
                    var shops=data.data;
                    $('.head_pic1').attr('src',shops.application_mess.head_pic);
                    $('.name1').html(shops.application_mess.name);
                    $('.time1').html(shops.application_mess.time);
                    $('.return_status').html(shops.application_mess.return_status);
                    $('.price').html(shops.application_mess.price);
                    $('.reason').html(shops.application_mess.reason);
                    $('.remark').html(shops.application_mess.remark);
                    if(shops.application_mess.pic.length){
                        var mstr="";
                        for(var k in shops.application_mess.pic){
                            mstr+='<div><img class="w100" src="'+shops.application_mess.pic[k]+'"></div>';
                        };
                        $('.pjimgbox').removeClass('none').html(mstr);
                    };
                    if(shops.application_mess.return_status.indexOf('仅退款')!=-1){
                        refundtype=2;
                    }
                    $('.returnfootbox').html('<div class="but ty mgr5">同意</div><div class="but jj">拒绝</div>');
                    if(shops.shop_agree_mess&&shops.shop_agree_mess.time){
                        $('.div2').removeClass('none');
                        $('.head_pic2').attr('src',shops.shop_agree_mess.head_pic);
                        $('.name2').html(shops.shop_agree_mess.name);
                        $('.time2').html(shops.shop_agree_mess.time);
                        $('.type2').html(shops.shop_agree_mess.other_one);
                        $('.info2').html(shops.shop_agree_mess.other_two);
                        $('.returnfootbox').html('<div class="but lxmj mgr5" linkto="tel:'+shops.member_account+'">联系买家</div>');
                        if(shops.shop_agree_mess.other_one.indexOf('拒绝')<0){
                            $('.returnfootbox').append('<div class="but thdz">退货地址</div>');
                        }
                    };
                    if(shops.shop_logistics_address&&shops.shop_logistics_address.time){
                        $('.div3').removeClass('none');
                        $('.name3').html(shops.shop_logistics_address.name);
                        $('.head_pic3').attr('src',shops.shop_logistics_address.head_pic);
                        $('.time3').html(shops.shop_logistics_address.time);
                        $('.type3').html(shops.shop_logistics_address.other_one);
                        $('.div3 .other_two').html(shops.shop_logistics_address.other_two);
                        $('.div3 .other_three').html(shops.shop_logistics_address.other_three);
                        $('.div3 .other_four').html(shops.shop_logistics_address.other_four);
                        $('.returnfootbox').html('<div class="but lxmj andtel" andtel="'+shops.member_account+'" linkto="tel:'+shops.member_account+'">联系买家</div>');
                    };
                    if(shops.express&&shops.express.time){
                        $('.div4').removeClass('none');
                        $('.head_pic4').attr('src',shops.express.head_pic);
                        $('.name4').html(shops.express.name);
                        $('.time4').html(shops.express.time);
                        // $('.type4').html(shops.express.other_one);
                        $('.div4 .other_one').html(shops.express.other_one);
                        $('.div4 .other_two').html(shops.express.other_two);
                        delivery_number=shops.express.other_two;
                        $('.returnfootbox').html('<div class="but lxmj andtel mgr5" andtel="'+shops.member_account+'" linkto="tel:'+shops.member_account+'">联系买家</div><div class="but ckwl mgr5">查看物流</div><div class="but qrsh">确认收货</div>');
                    };
                    if(shops.sign_mess&&shops.sign_mess.time){
                        $('.head_pic5').attr('src',shops.sign_mess.head_pic);
                        $('.name5').html(shops.sign_mess.name);
                        $('.div5').removeClass('none');
                        $('.time5').html(shops.sign_mess.time);
                        $('.div5 .type5').html(shops.sign_mess.other_one);
                        $('.returnfootbox').html('<div class="but andtel" linkto="tel:022-60868499">平台客服</div>');

                    };
                    if(shops.price_mess&&shops.price_mess.time){
                        $('.div6').removeClass('none');
                        $('.name6').html(shops.price_mess.name);
                        $('.head_pic6').attr('src',shops.price_mess.head_pic);
                        $('.time6').html(shops.price_mess.time);
                        $('.div6 .type6').html(shops.price_mess.other_one);
                        $('.returnfootbox').html('<div class="but andtel" andtel="022-60868499" linkto="tel:022-60868499">平台客服</div>');
                    };
                    top_linkto();
                }else if(data['flag'] == "error"){
                    layer.msg(data['message']);
                };
    },"POST",true); 

</script>
<script type="text/javascript">
    function setupWebViewJavascriptBridge(callback) {
            if (window.WebViewJavascriptBridge) {
                return callback(WebViewJavascriptBridge); }
            if (window.WVJBCallbacks) {
                return window.WVJBCallbacks.push(callback); }
            if (!window.WebViewJavascriptBridge) {
                document.addEventListener(
                        'WebViewJavascriptBridgeReady'
                        , function() {
                            callback(WebViewJavascriptBridge)
                        },
                        false
                );
            }
            window.WVJBCallbacks = [callback];
            var WVJBIframe = document.createElement('iframe');
            WVJBIframe.style.display = 'none';
            WVJBIframe.src = 'https://__bridge_loaded__';
            document.documentElement.appendChild(WVJBIframe);
            setTimeout(function() { document.documentElement.removeChild(WVJBIframe) }, 0)
        }

    setupWebViewJavascriptBridge(function(bridge) {
        if(/android/i.test(navigator.userAgent)){
            $('.andtel').removeAttr('linkto');
            $('.andtel').on('click',function(){
                var andtel=$(this).attr('andtel')
                bridge.callHandler('andTel',{data:andtel}, function(response) {
                    //处理oc过来的回调
                    layer.closeAll();
                })
            });
        }
    })
</script>
</block>