<extend name="Public:header"/>
<block name="main">
	<!-- 头部 -->
    <div class="header-container bgfff z3">
            <div class="weui-cell ih30 box">
                <div class="weui-cell__hd">
                </div>
                <div class="weui-cell__bd searchimgbox">
                	<img class="searchimg" src="__WEBPUBLIC__/Wechat/shopimg/search.png">
                    <input class="orderinp2" type="text" name="" placeholder="输入关键词搜索">
                </div>
                <div class="weui-cell__ft">
                    <div class="searchbut">搜索</div>
                </div>
            </div>
    </div>
    <!-- 内容 -->
    <div class="xq_container mh100 bgfff">
        <div class="list after">
            <!-- <div class="weui-cell colb6" href="javascript:;">
                <div class="weui-cell__hd"><img src="../shopimg/img (73).png" alt="" style="width:20px;margin-right:5px;display:block"></div>
                <div class="weui-cell__bd">
                    <p>棉衣裤子</p>
                </div>
                <div class="weui-cell__ft">
                    <img class="w15" src="../shopimg/img (33).png">
                </div>
            </div>
            <div class="weui-cell colb6" href="javascript:;">
                <div class="weui-cell__hd"><img src="../shopimg/img (73).png" alt="" style="width:20px;margin-right:5px;display:block"></div>
                <div class="weui-cell__bd">
                    <p>棉衣裤子</p>
                </div>
                <div class="weui-cell__ft">
                    <img class="w15" src="../shopimg/img (33).png">
                </div>
            </div>
            <div class="weui-cell colb6" href="javascript:;">
                <div class="weui-cell__hd"><img src="../shopimg/img (73).png" alt="" style="width:20px;margin-right:5px;display:block"></div>
                <div class="weui-cell__bd">
                    <p>棉衣裤子</p>
                </div>
                <div class="weui-cell__ft">
                    <img class="w15" src="../shopimg/img (33).png">
                </div>
            </div>
            <div class="weui-cell colb6" href="javascript:;">
                <div class="weui-cell__hd"><img src="../shopimg/img (73).png" alt="" style="width:20px;margin-right:5px;display:block"></div>
                <div class="weui-cell__bd">
                    <p>棉衣裤子</p>
                </div>
                <div class="weui-cell__ft">
                    <img class="w15" src="../shopimg/img (33).png">
                </div>
            </div>
            <div class="corderitem after10 bgfff">
                <div class="weui-cell fs0-8">
                    <div class="weui-cell__bd">
                        <div>订单号:18454534846546516</div>
                        <div class="colb6">成交时间:5489515314545</div>
                    </div>
                    <div class="weui-cell__ft">
                        <div class="colred">已完成</div>
                        <div class="colb6"></div>
                    </div>
                </div>
                <div class="">
                    <div class="flex corderitemshop">
                            <div class="carshopimg">
                                <img class="w100" src="../img/img (86).png">
                            </div>
                            <div class="flex1 ih20 fs14">
                                <div class="carshoptab1">
                                    <div class="line2 h40">按时间段阿萨德看来就阿萨德阿萨德；阿斯达卡asdasdasd阿萨德点击我剪短发阿斯兰的接口打开</div>
                                    <div class="colb6 fs12">
                                        M；xxl；黑色 M；xxl
                                    </div>
                                    <div>
                                        <span class="colred">￥159.02</span>
                                        <span class="right colb6">x1</span>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="flex corderitemshop">
                            <div class="carshopimg">
                                <img class="w100" src="../img/img (86).png">
                            </div>
                            <div class="flex1 ih20 fs14">
                                <div class="carshoptab1">
                                    <div class="line2 h40">按时间段阿萨德看来就阿萨德阿萨德；阿斯达卡asdasdasd阿萨德点击我剪短发阿斯兰的接口打开</div>
                                    <div class="colb6 fs12">
                                        M；xxl；黑色 M；xxl
                                    </div>
                                    <div>
                                        <span class="colred">￥159.02</span>
                                        <span class="right colb6">x1</span>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="textright after fs12 padlr10 ih30">
                        <span class="">共48件商品</span>
                        合计:<span class="">￥185.05</span>
                        <span>(含运费￥10.00)</span>
                </div>
                <div class="orderbutbox">
                    <div class="">删除订单</div>
                    <div class="">查看评价</div>
                    <div class="">联系买家</div>
                </div>
        </div>
        <div class="corderitem after10 bgfff">
                <div class="weui-cell fs0-8">
                    <div class="weui-cell__bd">
                        <div>订单号:18454534846546516</div>
                        <div class="colb6">成交时间:5489515314545</div>
                    </div>
                    <div class="weui-cell__ft">
                        <div class="colred">已完成</div>
                        <div class="colb6"></div>
                    </div>
                </div>
                <div class="">
                    <div class="flex corderitemshop">
                            <div class="carshopimg">
                                <img class="w100" src="../img/img (86).png">
                            </div>
                            <div class="flex1 ih20 fs14">
                                <div class="carshoptab1">
                                    <div class="line2 h40">按时间段阿萨德看来就阿萨德阿萨德；阿斯达卡asdasdasd阿萨德点击我剪短发阿斯兰的接口打开</div>
                                    <div class="colb6 fs12">
                                        M；xxl；黑色 M；xxl
                                    </div>
                                    <div>
                                        <span class="colred">￥159.02</span>
                                        <span class="right colb6">x1</span>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="flex corderitemshop">
                            <div class="carshopimg">
                                <img class="w100" src="../img/img (86).png">
                            </div>
                            <div class="flex1 ih20 fs14">
                                <div class="carshoptab1">
                                    <div class="line2 h40">按时间段阿萨德看来就阿萨德阿萨德；阿斯达卡asdasdasd阿萨德点击我剪短发阿斯兰的接口打开</div>
                                    <div class="colb6 fs12">
                                        M；xxl；黑色 M；xxl
                                    </div>
                                    <div>
                                        <span class="colred">￥159.02</span>
                                        <span class="right colb6">x1</span>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="textright after fs12 padlr10 ih30">
                        <span class="">共48件商品</span>
                        合计:<span class="">￥185.05</span>
                        <span>(含运费￥10.00)</span>
                </div>
                <div class="orderbutbox">
                    <div class="">删除订单</div>
                    <div class="">查看评价</div>
                    <div class="">联系买家</div>
                </div>
        </div>   -->
        </div>
        <div class="disn texcen imgarea" style="padding: 10px">
            <div>请输入退款金额</div>
            <div class="weui-cells bgfff">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <input class="weui-input price" type="text" placeholder="请填写退款金额">
                    </div>
                </div>
            </div>
        </div>
    </div>



</block>
<block name="footerjs">
<script type="text/javascript">
    // 获取搜索历史
    var search=[];
    function showlocal(){
        if(localStorage.getItem("shopsearch2")){
            search =localStorage.getItem("shopsearch2").split(",");
            if(search.length){
                var str="";
                for(var i=0;i<search.length;i++){
                    str+='<div class="weui-cell hisdiv colb6" myname='+search[i]+'>'+
                    '<div class="weui-cell__hd"><img src="__WEBPUBLIC__/Wechat/shopimg/img (73).png" alt="" style="width:20px;margin-right:5px;display:block"></div>'+
                    '<div class="weui-cell__bd textovh">'+
                        '<p class="textovh">'+search[i]+'</p>'+
                    '</div>'+
                    '<div class="weui-cell__ft">'+
                        '<div class="removeone flex flexcenter" myname="'+search[i]+'"><img class="w15" src="__WEBPUBLIC__/Wechat/shopimg/img (33).png"></div>'+
                    '</div>'+
                '</div>'
                }
                str+='<div class="ih30 colon textcenter pad10 myremove">清除全部历史</div>';
                $('.list').html(str);
            }
        }else{
            $('.list').html('<div class="ih30 colon textcenter pad10">这里空空如也</div>');
        }
    }
    showlocal();
    // 清除历史
    $('.xq_container').on('click','.myremove',function () {
        localStorage.removeItem("shopsearch2");
        $('.list').html('');
        search=[];
    });
    // 清除单一历史
    $('.xq_container').on('click','.removeone',function (event) {
        event.stopPropagation();
        for(var i=0;i<search.length;i++){
            if(search[i]==$(this).attr('myname')){
                search.splice(i,1);
                localStorage.setItem("shopsearch2",search);
                showlocal();
                return;
            }
        }
    });
    // 点击单一历史记录
    $('.xq_container').on("click",".hisdiv",function(){
        dataargs.title=$(this).attr('myname');
        dataargs.p=1;
        $('.orderinp2').val(dataargs.title);
        getJson("shouci");
        search.splice($(this).index(),1);
        search.unshift($(this).attr('myname'));
        localStorage.setItem("shopsearch2",search);
    })
    // 点击搜索
    var dataargs = {shop_id:shop_id,p:1};
    var flag= true;//防止ajax请求期间，对此触发请求数据      
    function getJson(args) {
            console.log(dataargs);
            requestUrl("{:U('Api/StoreOrder/orderEarnings')}",dataargs,function(data){
                // layer.closeAll();
                putGoods(data,args);
            },"POST");
    }

    $('.searchbut').click(function () {
        var text=$.trim($('.searchimgbox input').val())
        if(text){
            dataargs.title=text;
            dataargs.p=1;
            getJson("shouci");
            for(var i=0;i<search.length;i++){
                if(search[i]==text){
                    search.splice(i,1);
                }
            }
            search.unshift(text);
            if(search.length==11){
                search.pop();
            }
            localStorage.setItem("shopsearch2",search);
        };
       
    });
    // 评价
    $('.list').on('click','.lookspan',function(){
        var url="{:U('Checkorder/evaluatelist')}&order_id="+$(this).parent().attr('myid');
        history.replaceState(null,'',"{:U('Checkorder/checkorder')}/status/"+(dataargs.status==0?4:dataargs.status));
        window.location.href = url;
    });
    //退款
     $('.list').on('click','.tkdiv',function(){
        var b_id=$(this).parents('.weui-cell__ft').attr('myid');
        layer.open({
            "title":false,
            "type":1,
            "area":["250px","150px"],
            "btn":["确定"],
            "content":$(".imgarea"),
            "yes":function () {
                var price = $(".price").val();
                var reg = /^\d{1,}(.\d{1,2}){0,1}$/;
                if (!reg.test(price)) {
                    layer.msg("金额不合法！");
                    return;
                }
                requestUrl("{:U('Api/Back/applyBack')}",{b_id:b_id,price:price},function (res) {
                    if ( res.flag == "success" ) {
                        layer.msg("等待用户确认！");
                        location.reload();
                    }else{
                        layer.msg(res.message);
                    }
                });
            }
        });
    });
    //添加商品到列表
    function putGoods(data,args) {
        console.log(data);
        if(data.flag == 'success'){
            var shops = data.data;
            if((!shops || shops.length == 0 ) && args == "shouci"){
                $('.list').html('');
                $(".list").addClass('wusj');
                $(".nulldata").remove();
                showlocal();
            }else if((!shops || shops.length == 0 ) && args == "fenye"){
                $(".list").append('<div class="texcen nulldata">没有更多了！</div>');
            }else{
                $(".nulldata").remove();
                var str ="";
                for(var index in shops){
                    var shop = shops[index];
                    var newstr={str1:'',str2:''};
                    if(+shop.type==3&&+shop.pay_type==2){
                        if(+shop.status==0){
                            newstr.str1="<div class='tkdiv'>退款</div>";
                        }else if(+shop.status==2){
                            newstr.str1="<div>退款确认中</div>";
                        }else if(+shop.status==3){
                            newstr.str1="<div>退款成功</div>";
                        }
                    }
                    if (shop.status==4) {
                        newstr.str2="<div class='lookspan'>查看评价</div>";
                    }
                    str+='<div class="weui-cell itme">'
                +'<div class="weui-cell__hd textcenter mgr5">'
                    +'<div>'+shop.month_time+'</div>'
                    +'<div class="tiemspan fs0-8">'+shop.day_time+'</div>'
                +'</div>'
                +'<div class="weui-cell__bd flex textovh">'
                    +'<div class="headimgbox mgr5 fs0">'
                        +'<img class="w100" src="'+shop.head_pic+'">'
                    +'</div>'
                    +'<div class="flex1 ih30 textovh">'
                        +'<div><span class="mgr5">'+shop.price+'</span><span>(总收益:'+shop.total_price+')</span></div>'
                        +'<div class="colb6 textovh">'+shop.nick_name+'-买单</div>'
                    +'</div>'
                +'</div>'
                +'<div myid="'+shop.order_id+'" class="weui-cell__ft blue">'+newstr.str1+newstr.str2+'</div>'
            +'</div>';
                }
                if (args == "fenye") {
                    $('.list').append(str);
                }else{
                    $('.list').html(str);
                }
                flag=true;
            }
        }else{
            if(data.message=="数据为空"&&args == "shouci"){
                $('.list').addClass('wusj').html('');
            }else{
                layer.msg(data.message);
            }
            
        }
        if (args == "shouci") {
            fenye();
        }
    }

    function fenye(){
        var $_zd = $(".itme").height();//获取每个单项的高度
        var length = 3;//定义预加载的数量，提前三个加载数据
        var $_par = $(".list");//获取包裹容器
        var winheight = $(window).height();//获取窗口高度
        var curpage = 1;//存储当前的页数v
        $(function(){
            $(window).on("scroll",function(e){
                if(flag){
                    var self = $(this);
                    var scrtop = self.scrollTop() + winheight;
                    var docheight = $_par.height();
                    //console.log(scrtop + "=" + docheight + "=" + $_zd);
                    if(scrtop > docheight - ( length * $_zd ) ){
                        flag = false;
                        dataargs.p = dataargs.p +1;
                        getJson("fenye");
                    }
                }
            });
        });
    }

</script>
</block>