<include file="Public:header"/>
<!--主页面-->
<div id="main-content" class="content">
    <ul class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li class="active"><a href="">商品管理</a></li>
        <li class="active">商品分类</li>
    </ul>

    <div class="page-header page-header1 clearfix">
        <h3>商品分类</h3>
        <ul class="nav nav-tabs">    
            <li class="active">
                <a href="javascript:;">分类列表</a>
            </li>
            <li>
                <a href="{:U('IntegralCategory/addCategory')}">添加分类</a>
            </li>
        </ul>
    </div>
    <div class="content-box-table">
        <form action="{:U('IntegralCategory/deleteCate')}" method="post" class="batch-form">
            <table class="table table-striped table-framed table-hover">
                <thead>
                    <tr>
                        <th width="4%">
                            <input class="check-all" type="checkbox" />
                        </th>
                        <th>ID</th>
                        <th>分类名称</th>
                        <th>分类图片</th>
                        <th>显示顺序</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody class="tbody">
                    <if condition="empty($list)">
                        <tr style="font-size:14px;text-align:center;"><td colspan="20">暂无数据</td></tr>
                    </if>
                    <volist name="list" id="v">
                        <tr>
                            <td><input type="checkbox" value="{$v['cate_id']}" name="cate_id[]"/>&nbsp;&nbsp;</td>
                            <td>{$v['cate_id']}</td>
                            <td>{$v['category']|default="未填写"}</td>
                            <td><img src="/Uploads/{$v['pic']}" alt="" width="100px" height="100px"></td>
                            <td><input type="number" name="sort" id="{$v['cate_id']}" value="{$v['sort']}"></td>
                            <td>{$v['ctime']|date="Y-m-d H:i:s",###}</td>
                            <td>
                                <a href="{:U('IntegralCategory/editCategory',array('id'=>$v['cate_id']))}" title="编辑" class="modify">
                                   <span class="icon glyphicon glyphicon-pencil"></span>
                                </a>&nbsp;
                                <a href="#" title="删除" class="delete-delete">
                                    <span class="icon glyphicon glyphicon-remove"></span>
                                </a><input type="hidden" value="{:U('IntegralCategory/deleteCate',array('cate_id'=>$v['cate_id']))}">
                            </td>
                        </tr>
                    </volist>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="20">
                            <div class="bulk-actions fl">
                                <!-- <input type="button" class="btn delete-batch" value="批量删除">　
                                <a href="#excel" title="导出EXCEL" rel="modal">-->
                                    <!--<input type="button" class="btn derive" value="导出EXCEL" data-toggle="modal" data-target="#excel">-->
                                    <!--</a>-->
                            </div>
                            <div class="fr">
                                {$page}
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $('input[name="sort"]').each(function(){
            var oldnum = $(this).val();
            var id = $(this).attr('id');
            $(this).blur(function(){
                var num = $(this).val();
                if(num!=oldnum){
                    $.post("{:U('IntegralCategory/updateSort')}",{cate_id:id,sort:num},function(data){
                        if(data == 1){
                            layer.msg('修改成功！');
                        }else{
                            layer.msg('修改失败！');
                        }
                    },'json');
                }
            });
        });
    })
</script>
<include file="Public:footer"/>
