<extend name="Public:header"/>
<block name="main">

    <div class="header-container colfff">
        <div class="weui-cell ih30">
            <div class="weui-cell__hd"></div>
            <div class="weui-cell__bd">
                <p>众享通赢</p>
            </div>
            <div class="weui-cell__ft colfff" linkto="/index.php/Merchant/Order/orderlist">
                <p>兑换订单</p>
            </div>
        </div>
    </div>

    <div class="weui-cell ih30 bg000 header-container2 disn">
        <span class="on top_radio">全部</span><span class="top_radio">众享豆</span><span class="top_radio">麦穗</span>
    </div>

    <div class="xq_container pad50">
        <div class="jfshoplist pad10">

        </div>
    </div>

</block>
<block name="footerjs">
    <script>
       var flag= true;//防止ajax请求期间，对此触发请求数据
       var dataargs = {p:1,"type":1};
      
        function getJson(args) {
            console.log(dataargs);
            requestUrl("{:U('Api/Goods/goodsList')}",dataargs,function(data){
                layer.closeAll();
                putGoods(data,args);
            },"GET",true);
        }

         $(function(){
            getJson("shouci");
        });

        // 头部点击
        function radioAfter(e){
            if(e.index()==0){
                 dataargs={p:1};
                 getJson("shouci");
            }else if (e.index()==1) {
                dataargs={p:1,"type":2};
                getJson("shouci");
            }else if (e.index()==2) {
                dataargs={p:1,"type":1};
                getJson("shouci");
            }
        }
        //添加商品到列表
        function putGoods(data,args) {
            console.log(data);
            if(data.flag == 'success'){
                var shops = data.data;
                if((!shops || shops.length == 0 ) && args == "shouci"){
                   $(".xq_container").addClass('wusj');

                }else if((!shops || shops.length == 0 ) && args == "fenye"){
                    $(".xq_container").append('<div class="texcen nulldata">没有更多了！</div>');
                }else{
                    $(".nulldata").remove();
                    var str ="";
                    for(var index in shops){
                        var shop = shops[index];
                        //console.log(shop.cover_pic);
                        var url = "/index.php/Merchant/Goods/goodsDetail/g_id/"+shop['g_id'];
                        var dou = shop['type'] == 0 ? "iconzuan" : "iconmaisui";
                        var mai = shop['type'] == 0 ? "豆" : "麦穗";
                        str +='<div class="jfshop bgfff pad10 fs0-8" linkto="'+url+'"><div class="imgbag"><img src='+shop.cover_pic+' /></div><div class="texovh">'+shop.name+'</div><div class="colccc"><span class="colff0 '+dou+'">'+shop.price+'</span><span>'+mai+'</span><span class="fr">月销'+shop.sales+'</span></div></div>' ;
                    }
                    if (args == "fenye") {
                        $('.jfshoplist').append(str);
                    }else{
                        $('.jfshoplist').html(str);
                    }
                    flag=true;
                    top_linkto();
                }
            }else{
                layer.msg(data.message);
            }

            if (args == "shouci") {
                fenye();
            }
        }

         function fenye(){
            var $_zd = $(".jfshop").height();//获取每个单项的高度
            var length = 3;//定义预加载的数量，提前三个加载数据
            var $_par = $(".jfshoplist");//获取包裹容器
            var winheight = $(window).height();//获取窗口高度
            var curpage = 1;//存储当前的页数v
            $(function(){
                $(window).on("scroll",function(e){
                    if(flag){
                        var self = $(this);
                        var scrtop = self.scrollTop() + winheight;
                        var docheight = $_par.height();
                        //console.log(scrtop + "=" + docheight + "=" + $_zd);
                        if(scrtop > docheight - ( length * $_zd ) ){
                            flag = false;
                            dataargs.p = dataargs.p +1;
                            getJson("fenye");
                        }
                    }
                });
            });
        }
    </script>
</block>