<include file="Public:header"/>
<!--主页面-->
<div id="main-content" class="content">
    <ul class="breadcrumb">
        <li><a href="{:U('Index/main')}">首页</a></li>
        <li class="active"><a href="">认证费管理</a></li>
        <li class="active">认证费列表</li>
    </ul>

    <div class="page-header page-header1 clearfix">
        <h3>认证费管理</h3>
        <ul class="nav nav-tabs">
            <li class="">
                <a href="{:U('ApprovePrice/approvePriceList')}">认证费列表</a>
            </li>
            <li class="">
                <a href="{:U('ApprovePrice/addApprovePrice')}">发布认证费</a>
            </li>
        </ul>
    </div>
        <!--表格内容-->
        <div class="content-box-content">
            <!--表单 start-->
            <form action="{:U('ApprovePrice/addApprovePrice')}" method="post" class="form-horizontal form"  enctype="multipart/form-data">
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label"><em class="prompt-red">*</em>标题：</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" name="title" id="" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label"><em class="prompt-red">*</em>认证费钱数：</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" name="price" id="" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"><em class="prompt-red">*</em>认证费图标：</label>
                    <div class="col-sm-9">
                        <script>
                            function PreviewImage1(imgFile)
                            {
                                var filextension=imgFile.value.substring(imgFile.value.lastIndexOf("."),imgFile.value.length);
                                filextension=filextension.toLowerCase();
                                if ((filextension!='.jpg')&&(filextension!='.gif')&&(filextension!='.jpeg')&&(filextension!='.png')&&(filextension!='.bmp'))
                                {
                                    alert("对不起，系统仅支持标准格式的照片，请您调整格式后重新上传，谢谢 !");
                                    imgFile.focus();
                                }
                                else
                                {
                                    var path;
                                    if(document.all)//IE
                                    {
                                        imgFile.select();
                                        path = document.selection.createRange().text;
                                        document.getElementById("imgPreview1").innerHTML="";
                                        document.getElementById("imgPreview1").style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='scale',src=\"" + path + "\")";//使用滤镜效果
                                    }
                                    else//FF
                                    {
                                        path=window.URL.createObjectURL(imgFile.files[0]);// FF 7.0以上
                                        //path = imgFile.files[0].getAsDataURL();// FF 3.0
                                        document.getElementById("imgPreview1").innerHTML = "<img id='img1'src='"+path+"' style='width:200px;height:100px'/>";
                                        //document.getElementById("img1").src = path;
                                    }
                                }
                            }
                        </script>
                        <input type="file" class="text-input" name="pic" onchange="PreviewImage1(this)">
                        <!--<div class="prompt-div">轮播图的大小请设置成(835*420)</div>-->
                        <div id="imgPreview1"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="content" class="col-sm-3 control-label"><em class="prompt-red">*</em>认证费相关介绍：</label>
                    <div class="col-sm-9">
                        <textarea name="content" class="form-control" id="content" style="width:auto;height:300px;visibility:hidden;" ></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-default btn-primary add-to-here">确认添加</button>
                    </div>
                </div>
            </form>
            <!--表单 end-->
        </div>
    </div>
</div>
<include file="Public:footer"/>
<!--富文本-->
<script  src="__WEBPUBLIC__/Common/kindeditor/kindeditor-min.js"></script>
<script  src="__WEBPUBLIC__/Common/kindeditor/lang/zh_CN.js"></script>
<script>
    var editor;
    KindEditor.ready(function(K) {
        editor = K.create('textarea[name="content"]', {
            resizeType : 1,
            uploadJson : '__WEBPUBLIC__/Common/kindeditor/php/upload_json.php',
            fileManagerJson :
                    '__WEBPUBLIC__/Common/kindeditor/php/file_manager_json.php',
            allowPreviewEmoticons : false,
            items:[
                'source', '|', 'undo', 'redo', '|', 'cut', 'copy','|', 'justifyleft',
                'justifycenter', 'justifyright',
                'justifyfull', 'clearhtml', 'selectall', '|', 'formatblock',
                'fontname', 'fontsize', '|', 'forecolor',
                'hilitecolor', 'bold', 'italic', 'underline', 'strikethrough','image'
            ],
            afterBlur:function(){this.sync();}
        });
    });
</script>