<extend name="Public:head"/>
<block name="main">
    <!-- 头部 -->
    <div class="header-container bgfff z5">
        <div class="weui-cell ih30 box">
            <div class="weui-cell__hd">
            </div>
            <div class="weui-cell__bd re textcenter">
                <div class="collecttopbox">
                    <span class="topitem mgr10 on shop">商家</span>
                    <span class="topitem goods">商品</span>
                </div>
                <span class="carbj">编辑</span>
            </div>
            <!--<div class="weui-cell__ft">
                <img src="/Public/Wechat/img/fenx.png" class="iconfenx"/>
            </div>-->
        </div>
    </div>
    <!-- 内容 -->
    <div class="xq_container">
        <div class="itemlist">
            <!-- 商家 -->
            <!--<div class="after bgfff flex padlr10 shopitem">-->
            <!--<div class="checkdiv none flex flexvcenter">-->
            <!--<input class="checktop" type="checkbox" name="111">-->
            <!--<span></span>-->
            <!--</div>-->
            <!--<div class="flex1 textovh">-->
            <!--<div class="weui-cell padlr0 box">-->
            <!--<div class="weui-cell__hd mgr5 fs0">-->
            <!--<img class="w65" src="../img/img (134).png">-->
            <!--</div>-->
            <!--<div class="weui-cell__bd textovh fs14">-->
            <!--<div class="flex"><div class="textovh flex1">杭州小笼包州小笼包州小笼包州小笼包州小笼包</div><div class="right fs0-8">4.5km</div></div>-->
            <!--<div>-->
            <!--<span class="fs0 mgr5">-->
            <!--<img class="w15" src="../img/img (104).png">-->
            <!--<img class="w15" src="../img/img (104).png">-->
            <!--<img class="w15" src="../img/img (104).png">-->
            <!--<img class="w15" src="../img/img (104).png">-->
            <!--<img class="w15" src="../img/img (104).png">-->
            <!--</span>-->
            <!--<span class="colb6">月售300</span>-->
            <!--</div>-->
            <!--<div>-->
            <!--[西青区]美食-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="fs14 flex">-->
            <!--<div class="w65 mgr10"></div>-->
            <!--<div class="flex1 mgb10">-->
            <!--<div class="">-->
            <!--<span class="logospan">折</span>-->
            <!--<span class="colb6">满199享9折</span>-->
            <!--</div>-->
            <!--<div class="">-->
            <!--<span class="logospan">促</span>-->
            <!--<span class="colb6">满199享9折</span>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="after bgfff flex padlr10">-->
            <!--<div class="checkdiv none flex flexvcenter">-->
            <!--<input class="checktop" type="checkbox" name="111">-->
            <!--<span></span>-->
            <!--</div>-->
            <!--<div class="flex1 textovh">-->
            <!--<div class="weui-cell padlr0 box">-->
            <!--<div class="weui-cell__hd mgr5 fs0">-->
            <!--<img class="w65" src="../img/img (134).png">-->
            <!--</div>-->
            <!--<div class="weui-cell__bd textovh fs14">-->
            <!--<div class="flex"><div class="textovh flex1">杭州小笼包州小笼包州小笼包州小笼包州小笼包</div><div class="right fs0-8">4.5km</div></div>-->
            <!--<div>-->
            <!--<span class="fs0 mgr5">-->
            <!--<img class="w15" src="../img/img (104).png">-->
            <!--<img class="w15" src="../img/img (104).png">-->
            <!--<img class="w15" src="../img/img (104).png">-->
            <!--<img class="w15" src="../img/img (104).png">-->
            <!--<img class="w15" src="../img/img (104).png">-->
            <!--</span>-->
            <!--<span class="colb6">月售300</span>-->
            <!--</div>-->
            <!--<div>-->
            <!--[西青区]美食-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!-- 商品 -->
            <!--<div class="after bgfff flex padlr10">-->
            <!--<div class="checkdiv none flex flexvcenter">-->
            <!--<input class="checktop" type="checkbox" name="111">-->
            <!--<span></span>-->
            <!--</div>-->
            <!--<div class="flex1">-->
            <!--<div class="weui-cell padlr0 box">-->
            <!--<div class="weui-cell__hd mgr5 fs0">-->
            <!--<img class="w100px" src="../img/img (134).png">-->
            <!--</div>-->
            <!--<div class="weui-cell__bd fs14 ih25">-->
            <!--<div class="line2">杭州小笼包州小笼包州笼包州小笼包州笼包州小笼包州笼包州小笼包州小</div>-->
            <!--<div class="flex">-->
            <!--<div class="flex1">-->
            <!--<div class="colb6">月售300</div>-->
            <!--<div class="colred fs1-2">￥178.36</div>-->
            <!--</div>-->
            <!--<div class="flex flexcenter">-->
            <!--<img class="w40" src="../img/img (136).png">-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="after bgfff flex padlr10">-->
            <!--<div class="checkdiv none flex flexvcenter">-->
            <!--<input class="checktop" type="checkbox" name="111">-->
            <!--<span></span>-->
            <!--</div>-->
            <!--<div class="flex1">-->
            <!--<div class="weui-cell padlr0 box">-->
            <!--<div class="weui-cell__hd mgr5 fs0">-->
            <!--<img class="w100px" src="../img/img (134).png">-->
            <!--</div>-->
            <!--<div class="weui-cell__bd fs14 ih25">-->
            <!--<div class="line2"><span class="mssclogo">麦穗商城</span>杭州小笼包州小笼包州笼包州小笼包州笼包州小笼包州笼包州小笼包州小</div>-->
            <!--<div class="flex">-->
            <!--<div class="flex1">-->
            <!--<div class="colb6">月售300</div>-->
            <!--<div class="colred fs1-2">  <img class="w20" src="../img/img (143).png">￥178.36</div>-->
            <!--</div>-->
            <!--<div class="flex flexcenter">-->
            <!--<img class="w40" src="../img/img (155).png">-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
        </div>

        <div class="maddressfoot none">
            <span>删除</span>
        </div>
    </div>
</block>
<block name="footerjs">
    <script type="text/javascript">
        var dataargs = {"m_id":m_id,p:1};
        var mytype=0;//0为商家，1为商品
        wx.config({
            debug: false,
            appId: "{$appid}",
            timestamp:'{$wx.timestamp}',
            nonceStr: '{$wx.nonceStr}',
            signature:'{$wx.signature}',
            jsApiList: [
                // 所有要调用的 API 都要加到这个列表中
                'scanQRCode',
                'openLocation',
                'getLocation',
                "onMenuShareTimeline",
                "onMenuShareAppMessage",
                "onMenuShareQQ",
                "onMenuShareWeibo",
                "onMenuShareQZone"
            ]
        });
        wx.ready(function(){
            wx.getLocation({
                type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
                success: function (res) {
                    var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                    var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                    var speed = res.speed; // 速度，以米/每秒计
                    var accuracy = res.accuracy; // 位置精度
                    //console.log(latitude,longitude);
                    //getData();
                    dataargs.lat = ""+latitude;
                    dataargs.lnt = ""+longitude;
                    getJson("shouci");
                    <if condition="empty($_REQUEST['city_id'])">
                            requestUrl("{:U('Api/Shop/lngLatCity')}",dataargs,getArea,"POST");
                    </if>
                }
            });
        });


        $('.carbj').click(function () {

            if($('.checkdiv').length){
                $('.checkdiv').toggleClass('none');
                if($('.checkdiv').hasClass('none')){
                    $('.maddressfoot').addClass('none');
                    $(this).html('编辑');
                    $('.maddressfoot').addClass('none');
                }else{
                    $(this).html('完成');
                    $('.maddressfoot').removeClass('none');
                }
            }else{
                $(this).html('编辑');
                $('.maddressfoot').addClass('none');
            }

        });

        var flag= true;//防止ajax请求期间，对此触发请求数据
        //收藏的商家列表
        function getJson(args) {
            console.log(dataargs);
            if(mytype==0){
                requestUrl("{:U('Api/Member/collectList')}",dataargs,function(data){
                    layer.closeAll();
                    putShops(data,args);
                },"GET",true);
            }else{
                requestUrl("{:U('Api/Product/collectList')}",dataargs,function(data){
                    layer.closeAll();
                    putGoods(data,args);
                });
            }
        }
        //收藏的商品列表
        function getGoodsJson(args){
            requestUrl("{:U('Api/Product/collectList')}",dataargs,function(data){
                layer.closeAll();
                putGoods(data,args);
            });
        }
        //点击删除
        $('.maddressfoot').click(function () {
            var xuanz = $('input[name="c_id"]:checked').parent().parent();
            var c_id = [];
            $('input[name="c_id"]:checked').each(function(){
                c_id.push($(this).val());
            });
            var subData = {c_id:JSON.stringify(c_id)};
            if($('.collecttopbox>span.on').index()==1){
                //取消收藏商品
                subData.type = 0;
            }else{
                //取消收藏商家
                subData.type = 1;
            }
            requestUrl("{:U('Api/Product/cancelCollect')}",subData,function(res){
                if(res.flag=="success"){
                    layer.msg("删除成功");
                    xuanz.remove();
                }else{
                    layer.msg(res.message);
                }
            });
        })

        $(function(){
            getJson("shouci");
        });

        $(".shop").click(function(){
            if($(this).hasClass('on')){
                return;
            }
            mytype=0;
            $('.goods').removeClass('on');
            $(this).addClass('on');
            dataargs.p = 1;
            gopage();
            getJson("shouci");

        });
        $(".goods").click(function(){
            if($(this).hasClass('on')){
                return;
            }
            mytype=1;
            $('.shop').removeClass('on');
            $(this).addClass('on');
            dataargs.p = 1;
            gopage();
            getJson("shouci");

        });
        //    点击头部初始化页面
        function gopage() {
            $('.maddressfoot').addClass('none');
            $('.carbj').removeClass('on').html('编辑');
            $(document).scrollTop(0);
        }

        //添加商家到列表
        function putShops(data,args) {
            if(data.flag == 'success'){
                var shops = data.data;
                if((!shops || shops.length == 0 ) && args == "shouci"){
                    $(".itemlist").html("");
                    $(".nomore").remove();
                    $(".xq_container").addClass('wusj');
                    offscroll();
                }else if((!shops || shops.length == 0 ) && args == "fenye"){
                    $(".xq_container").append('<div class="texcen nomore">没有更多了！</div>');
                    offscroll();
                }else {
                    $(".nomore").remove();
                    $(".xq_container").removeClass("wusj");
                    var str = "";
                    for (var index in shops) {
                        var shop = shops[index];
                        var shopimg = '';
                        if (shop.head_pic.indexOf("://") >= 0) {
                            shopimg = shop.head_pic;
                        } else {
                            shopimg = "{:C('API_URL')}/" + shop.head_pic;
                        }
                        var url = "{:U('Shop/shopdetail')}/shop_id/" + shop.shop_id;
                        var areaname = shop.class_name;
                        if(shop.area_name!=""){
                            areaname = "["+shop.area_name+"]"+shop.class_name;
                        }
                        str += '<div class="after bgfff flex padlr10 shopitem">\
                                <div class="checkdiv '+(($(".carbj").html()=="完成")?"":"none")+' flex flexvcenter">\
                                    <input class="checktop" type="checkbox" name="c_id" value="' + shop.c_id + '">\
                                    <span></span>\
                                </div>\
                                <div class="flex1 textovh" linkto="' + url + '">\
                                    <div class="weui-cell padlr0 box">\
                                        <div class="weui-cell__hd mgr5 fs0">\
                                            <img class="w65" src="' + shopimg + '">\
                                        </div>\
                                        <div class="weui-cell__bd textovh fs14">\
                                            <div class="flex"><div class="flex1 textovh flex"><div class="textovh">' + shop.name + '</div> '+(shop.grade_icon?"<div class='h20 mgr5 fs0 flex flexvcenter'><img class='h100' src='"+shop.grade_icon+"'></div>":"")+'</div><div class="right fs0-8">&lt;'+(shop.distance < 1000 ? shop.distance : Math.round(shop.distance/100)/10+"k")+'m</div></div>\
                                            <div>\
                                                <span class="fs0 mgr5">' + showStar(shop.star) + '</span>\
                                                <span class="colb6">月售'+shop.sale+'</span>\
                                            </div>\
                                            <div>'+areaname+'</div>\
                                        </div>\
                                    </div>\
                                </div>\
                            </div>';
                        if (args == "fenye") {
                            $('.itemlist').append(str);
                        } else {
                            $('.itemlist').html(str);
                        }
                        flag = true;
                        top_linkto();
                    }
                }
            }else{
                layer.msg(data.message);
            }

            if (args == "shouci") {
                fenye(2);
            }
        }

        $('.itemlist').on('click','.collectitem',function(){
            var itemstatus= +$(this).attr('status');
            if(itemstatus){
                layer.msg('商品已'+(itemstatus==9?'删除':'下架'));
                return;
            }
        })
        //点击购物车
    $('.itemlist').on('click','.gocarimg',function(event){
        event.stopPropagation();
        var itemstatus= +$(this).closest('.collectitem').attr('status');
        if(itemstatus){
            layer.msg('商品已'+(itemstatus==9?'删除':'下架'));
            return;
        }
        var url = '';
        var type = $(this).attr('mytype');
        if(type==1){
            url = "{:U('Goods/confirmorder')}/g_id/"+$(this).attr('p_id');
        }else{
            url="{:U('Store/productinfo')}/status/2/p_id/"+$(this).attr('p_id');
        }
        location.href=url;
    });
        //添加商品到列表
        function putGoods(data,args) {
            if(data.flag == 'success'){
                var shops = data.data;
                if((!shops || shops.length == 0 ) && args == "shouci"){
                    $(".nomore").remove();
                    $(".itemlist").html("");
                    $(".xq_container").addClass('wusj');
                    offscroll();
                }else if((!shops || shops.length == 0 ) && args == "fenye"){
                    $(".xq_container").append('<div class="texcen nomore">没有更多了！</div>');
                    offscroll();
                }else{
                    $(".nomore").remove();
                    $(".xq_container").removeClass("wusj");
                    var str ="";
                    for(var index in shops){
                        var shop = shops[index];
                        var url = '';
                        var img = '';
                        var mai = '￥';
                        var type = '';
                        if(shop.type==1){
                            url = "{:U('Goods/goodsinfo')}/g_id/"+shop.p_id+"/m_id/"+m_id;
                            img = '__WEBPUBLIC__/Wechat/img/img (155).png';
                            mai = '<img class="w20" src="__WEBPUBLIC__/Wechat/img/img (143).png">';
                            type = '<span class="mssclogo">麦穗商城</span>';
                        }else{
                            url = "{:U('Store/productinfo')}/p_id/"+shop.p_id+"/m_id/"+m_id;
                            img = '__WEBPUBLIC__/Wechat/img/img (136).png';
                        }
                        str += '<div class="after bgfff flex padlr10 shopitem">\
                                <div class="checkdiv '+(($(".carbj").html()=="完成")?"":"none")+' flex flexvcenter">\
                                    <input class="checktop" type="checkbox" name="c_id" value="'+shop.c_id+'">\
                                    <span></span>\
                                </div>\
                                <div class="flex1 collectitem" '+(shop.status==9?"status='9'":shop.is_sale==1?"status='1'":"status='0' linkto='"+url+"'")+'>\
                                    <div class="weui-cell padlr0 box">\
                                        <div class="weui-cell__hd mgr5 collectimgbox flex flexcenter fs0">\
                                            <img src="'+shop.pic+'">\
                                        </div>\
                                        <div class="weui-cell__bd fs14 ih25">\
                                            <div class="line2">'+type+shop.title+'</div>\
                                            <div class="flex">\
                                                <div class="flex1">\
                                                    <div class="colb6">销量'+shop.sales+'</div>\
                                                    <div class="colred fs1-2">'+mai+shop.price+(shop.status==9?"<span class='right'>[已删除]</span>":shop.is_sale==1?"<span class='right'>[已下架]</span>":"")+'</div>\
                                                </div>\
                                                <div class="flex flexcenter">\
                                                    <img class="w40 gocarimg" mytype="'+shop.type+'" p_id="'+shop.p_id+'" src="'+img+'">\
                                                </div>\
                                            </div>\
                                        </div>\
                                    </div>\
                                </div>\
                            </div>';

                    }
                    if (args == "fenye") {
                        $('.itemlist').append(str);
                    }else{
                        $('.itemlist').html(str);
                    }
                    flag=true;
                    top_linkto();
                }
            }else{
                layer.msg(data.message);
            }

            if (args == "shouci") {
                fenye(1);
            }
        }
        function fenye(type){
            console.log("type="+type);
            var $_zd = $(".shopitem").height();//获取每个单项的高度
            var length = 3;//定义预加载的数量，提前三个加载数据
            var $_par = $(".itemlist");//获取包裹容器
            var winheight = $(window).height();//获取窗口高度
            var curpage = 1;//存储当前的页数v
            $(function(){
                $(window).on("scroll",function(e){
                    if(flag){
                        var self = $(this);
                        var scrtop = self.scrollTop() + winheight;
                        var docheight = $_par.height();
                        if(scrtop > docheight - ( length * $_zd ) ){
                            flag = false;
                            dataargs.p = dataargs.p +1;
                            console.log(type);
//                            if(type==1){
//                                console.log(11111);
//                                getGoodsJson('fenye');
//                            }else if(type==2){
//                                console.log(22222);
                                getJson("fenye");
//                            }
                        }
                    }
                });
            });
        }
        //移除滚动
        function offscroll(){
            $(window).off("scroll");
        }
        //显示星数
        function showStar(num){
            var str = '';
            for (var i=0;i<num;i++){
                str += '<img class="w15" src="__WEBPUBLIC__/Wechat/img/img (104).png">';
            }
            for (var j=5;j>num;j--){
                str += '<img class="w15" src="__WEBPUBLIC__/Wechat/img/img (105).png">';
            }
            return str;
        }
    </script>
</block>