<extend name="Public:header"/>
<block name="headdiv">
    <link rel="stylesheet" type="text/css" href="__WEBPUBLIC__/Wechat/css/oldtop.css">
</block>
<block name="main">

    <!-- 头部 -->
    <div class="header-container bgfff">
            <div class="weui-cell ih30 box">
                <div class="weui-cell__hd">

                </div>
                <div class="weui-cell__bd textcenter">
                    个人中心
                </div>
                <div class="weui-cell__ft">
                    
                </div>
            </div>
    </div>
    <!-- 内容 -->
    <div class="xq_container bgfff">
        <div class="re">
            <div class="fs0"><img class="w100" src="__WEBPUBLIC__/Wechat/cusimg/img (162).png"></div>
            <div class="centertop flex2">
                <div class="textright mgtop10 padlr10">
                    <!-- 无消息157 -->
                    <a href="javascript:;" linkto="{:U('Message/messagenews')}" class="message"> 
                    <img  class="w20" src="__WEBPUBLIC__/Wechat/cusimg/img(154).png"> 
                    </a>
                    <a href="javascript:;" linkto="{:U('Member/configMember')}">
                    <img class="w20" src="__WEBPUBLIC__/Wechat/cusimg/img (71).png">
                    </a>
                </div>

                <div class="weui-cell nob ih30 box">
                    <div class="weui-cell__hd headimgbox2 head_pic headimgbg mgr5">
                        <!-- <img class="head_pic h100"> -->
                    </div>
                    <div class="weui-cell__bd textovh colfff mgr5 nick_name">
                    </div>
                    <div class="weui-cell__ft colfff flex2 flexcenter showmode">
                        <img class="vtop w30" class="w30" src="__WEBPUBLIC__/Wechat/cusimg/img (56).png">
                        <span class="fs12 ">签到</span>
                    </div>
                </div>
                <div class="flex1">
                    <div class="centertopfoot w100 flex fs12 ih30">
                        <div class="flex1 mgr5">我的众享豆: <span class="recommend"></span></div>
                        <div class="flex1" linkto="{:U('Goods/goodslist')}" >我的麦穗: <span class="integral"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 折线图 
        <div class="centermynum" style="font-size: 14px;">
            <div>
                您昨日麦穗成功转换了<span class="colff0 price"></span>个众享豆
            </div>
            <div class="colff0">
                麦穗转换率受前一日运营收益影响(上下浮动)
            </div>
        </div>

        -->
        <!-- <div class="" id="transactionimgbox">
            
        </div>

        <div class="centermynum" style="font-size: 14px;">
            <div>
                <span>我的股数</span>
                <span class="right colb6"> <span class="colblue d_piles"></span>股</span>
            </div>
            <div>
                <span>麦穗 <span class="integral"></span></span>
                <span class="right colb6"> 还差<span class="d_remain"></span>麦穗到<span class="colblue d_piles2"></span>股</span>
            </div>
        </div> -->

        <div class="weui-cell fs14 nob box">
            <div class="weui-cell__hd">

            </div>
            <div class="weui-cell__bd">
                <div class="fs1-2 fs re ih30 hasb">您昨日麦穗<span class="colblue">成功转换</span>众享豆</div>
                <div class="fs12 colb6">麦穗转换率受前一日运营收益影响(上下浮动)</div>
            </div>
            <div class="weui-cell__ft">
                <span class="colon fs1-2 price"></span>个
            </div>
        </div>

        <div class="pad10">
            众享收益
        </div>
        <div class="pad10 flex after">
            <div class="flex1 mgr5 fs0" linkto="{:U('Member/transferrecord')}">
                <img class="w100" src="__WEBPUBLIC__/Wechat/cusimg/img (164).png">
            </div>
            <div class="flex1 mgr5 fs0" linkto="{:U('Member/paydraw')}">
                <img class="w100" src="__WEBPUBLIC__/Wechat/cusimg/img (166).png">
            </div>
            <div class="flex1 mgr5 fs0" linkto="{:U('Bill/billlist')}">
                <img class="w100" src="__WEBPUBLIC__/Wechat/cusimg/img (168).png">
            </div>
        </div>
        <div linkto="{:U('Order/myorder')}" class="weui-cell weui-cell_access">
                <div class="weui-cell__hd">

                </div>
                <div class="weui-cell__bd">
                    我的订单
                </div>
                <div class="weui-cell__ft fs12">
                    查看更多订单
                </div>
        </div>
        <div class="flex after">
            <div linkto="{:U('Order/myorder')}/type/1" class="flex1 flex2 flexcenter">
                <div class="numbox">
                    <img class="w40" src="__WEBPUBLIC__/Wechat/cusimg/img (183).png">
                    <span class="dfk none">0</span>
                </div>
                <div class="fs12">待付款</div>
            </div>
            <div linkto="{:U('Order/myorder')}/type/2" class="flex1 flex2 flexcenter">
                <div class="numbox">
                    <img class="w40" src="__WEBPUBLIC__/Wechat/cusimg/img (180).png">
                    <span class="dfh none">0</span>
                </div>
                <div class="fs12">待发货</div>
            </div>
            <div linkto="{:U('Order/myorder')}/type/3" class="flex1 flex2 flexcenter">
                <div class="numbox">
                    <img class="w40" src="__WEBPUBLIC__/Wechat/cusimg/img (179).png">
                    <span class="dsh none">0</span>
                </div>
                <div class="fs12">待收货</div>
            </div>
            <div linkto="{:U('Order/myorder')}/type/4" class="flex1 flex2 flexcenter">
                <div class="numbox">
                    <img class="w40" src="__WEBPUBLIC__/Wechat/cusimg/img (188).png">
                    <span class="dpj none">0</span>
                </div>
                <div class="fs12">待评价</div>
            </div>
            <div linkto="{:U('Refund/refundlist')}" class="flex1 flex2 flexcenter">
                <div class="numbox">
                    <img class="w40" src="__WEBPUBLIC__/Wechat/cusimg/img (90).png">
                    <span class="shtk none">0</span>
                </div>
                <div class="fs12">退款/售后</div>
            </div>
        </div>
        <div class="pad10">
            个人服务
        </div>
        <div class="centermain textcenter">
            <div class="flex2 flexcenter mgb20" linkto="{:U('Member/collectList')}">
                <img class="w40" src="__WEBPUBLIC__/Wechat/cusimg/img (76).png">
                <span class="fs12">收藏夹</span>
            </div>
            <div class="flex2 flexcenter mgb20" linkto="{:U('Member/myappraise')}">
                <img class="w40" src="__WEBPUBLIC__/Wechat/cusimg/img (55).png">
                <span class="fs12">我的评价</span>
            </div>
            <div class="flex2 flexcenter mgb20" linkto="{:U('Coupon/coupon')}">
                <img class="w40" src="__WEBPUBLIC__/Wechat/cusimg/img (115).png">
                <span class="fs12">优惠券</span>
            </div>
            <div class="flex2 flexcenter mgb20" linkto="{:U('Luckdraw/luckdraw')}">
                <img class="w40" src="__WEBPUBLIC__/Wechat/cusimg/img (178).png">
                <span class="fs12">抽奖</span>
            </div>
            <div class="flex2 flexcenter mgb20 showcode">
                <img class="w40" src="__WEBPUBLIC__/Wechat/cusimg/img (52).png">
                <span class="fs12">推荐码</span>
            </div>
            <div class="flex2 flexcenter mgb20" linkto="{:U('Member/recommend')}">
                <img class="w40" src="__WEBPUBLIC__/Wechat/cusimg/img (88).png">
                <span class="fs12">我推荐的人</span>
            </div>
            <div class="flex2 flexcenter mgb20" linkto="{:U('Bill/myearnlist')}">
                <img class="w40" src="__WEBPUBLIC__/Wechat/cusimg/img (79).png">
                <span class="fs12">我的收益</span>
            </div>
            <div class="flex2 flexcenter mgb20" linkto="{:U('Goods/goodslist')}">
                <img class="w40" src="__WEBPUBLIC__/Wechat/cusimg/img (63).png">
                <span class="fs12">麦穗商城</span>
            </div>
            <div class="flex2 flexcenter mgb20" linkto="tel:022-60868499">
                <img class="w40" src="__WEBPUBLIC__/Wechat/cusimg/img (41).png">
                <span class="fs12">联系客服</span>
            </div>
            <div class="flex2 flexcenter mgb20" linkto="{:U('AboutUs/aboutus')}">
                <img class="w40" src="__WEBPUBLIC__/Wechat/cusimg/img (34).png">
                <span class="fs12">关于我们</span>
            </div>
            <div class="flex2 flexcenter mgb20" linkto="{:U('Feedback/feedback')}">
                <img class="w40" src="__WEBPUBLIC__/Wechat/cusimg/img (12).png">
                <span class="fs12">反馈</span>
            </div>
            <div class="flex2 flexcenter mgb20"  linkto="{:U('AboutUs/pattern')}">
                <img class="w40" src="__WEBPUBLIC__/Wechat/cusimg/img (84).png">
                <span class="fs12">奖励模式</span>
            </div>
        </div>
         <!--弹出二维码-->
        <div class="disn texcen imgarea" style="padding: 30px 40px;">
            <div>【推荐赢奖励】</div>
            <img class="code" style="height: 150px;">
            <div>长按保存下来吧</div>
        </div>
    </div>
    </div>
   
    <!-- 签到弹出层 -->
    <div class="weui-dialog xq_model disn">
        <div class="">
         <img class="ggimg" src="__WEBPUBLIC__/Wechat/img/d_gg.png">
         <div class="modeltop">
           <div class="fr d_gg">广告</div>
         </div>
        </div>
        <div class="weui-cell ih30 nobrfore">
            <div class="weui-cell__hd">
                <p class="fs0-8">共签到</p>
                <p class="fs1-2 colff0 number"></p>
            </div>
            <div class="weui-cell__bd"></div>
            <div class="weui-cell__ft">
                <img class="douziimg" src="__WEBPUBLIC__/Wechat/img/d_douzi.png">
                 众享豆
                <span class="colff0 price"></span>
            </div>
        </div>
        <div class="d_ok sign_button bgccc">
           确定领取
        </div>
    </div>
    
    <div class="togley" linkto="{:U('Newweb/Car/car')}">

        <img src="/Public/Wechat/img/img (136).png"/>
    </div>
    
</block>
<block name="footerjs">
<script src="https://cdn.bootcss.com/echarts/3.5.4/echarts.min.js"></script>
<script src="https://cdn.bootcss.com/echarts/3.5.4/echarts.common.min.js"></script>
    <script>
        var dataargs = {m_id:m_id};
        var code;
        function showuserinfo() {
        requestUrl("{:U('Api/Member/memberCenter')}",dataargs,function(data){
            console.log(data);
            var res = data.data;
            if(data['flag'] == "success"){
                code = res.code;
                if (code) {
                    $(".code").attr("src",code);
                }
                $(".nick_name").text(res.nick_name);
                $(".account").text(res.account);
                $(".head_pic").css('background-image','url('+res.head_pic+')');
                $(".d_piles").html(res.piles);
                $(".d_piles2").html((+res.piles)+1);
                $(".integral").text(res.integral);
                $(".d_remain").html((res.remain*1). toFixed(2));
                $(".recommend").html(res.wallet);
                /**如果这个用户不符合领取钱数的条件就不能显示按钮，减少服务器的压力*/
                // if(res.is_true == 0){
                //     $(".sign_button").removeClass("disn");
                // }
                /**判断这个用户是否今天已经签到了*/
                if(res.is_sign == 0 && res.is_true == 0){
                    $(".sign_button").removeClass("bgccc");
                }else{
                    $(".sign_button").off("click");
                    $(".sign_button").addClass("bgccc");
                    $(".sign_button").on('click',function () {
                        layer.msg("您暂无签到权限,加油哦~");
                    });
                    $(".sign_button").removeClass("sign_button");
                    $(".sign_button").text("已领取");
                }
                //显示各状态订单数量
                if(res.wait_pay_order>0){
                    $('.dfk').text(res.wait_pay_order).removeClass('none');
                }
                if(res.wait_send_order>0){
                    $('.dfh').text(res.wait_send_order).removeClass('none');
                }
                if(res.wait_make_order>0){
                    $('.dsh').text(res.wait_make_order).removeClass('none');
                }
                if(res.wait_appraise_order>0){
                    $('.dpj').text(res.wait_appraise_order).removeClass('none');
                }
                if(res.wait_tk_order>0){
                    $('.shtk').text(res.wait_tk_order).removeClass('none');
                }
            }else if(data['flag'] == "error"){
                layer.msg(data['message']);
            }
            setTimeout(function () {
                layer.closeAll();
            },500);
        },"GET",true);
        }
        showuserinfo();
        /**判断用户是否有未读的消息*/
        var dataargs_other = {m_id:m_id};
        requestUrl("{:U('Api/Message/isRead')}",dataargs_other,function(data){
            var res = data.data;
            if(res>0){
                $(".message").addClass("isread");
            }
        },"GET");


        //根据经纬度查询，查询广告图

        wx.ready(function(){
            wx.getLocation({
                type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
                success: function (res) {
                    var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                    var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                    getAdpic({type:1,mix_id:m_id,lat:latitude,lnt:longitude});
                },
                fail: function(res) {
                    //console.log('未开启定位功能');
                    //console.log(res);
                    getAdpic({type:1,mix_id:1});
                }
            });
        });



        function getAdpic( args ) {
            requestUrl("{:U('Api/AboutUs/showPic')}",args,function ( res ) {
                if ( res.flag == "success" ) {
                    if(res.data.pic.indexOf('.')!=-1){
                        $(".ggimg").attr({"src":res.data.pic,"goto":res.data.url,"advert_id":res.a_id});
                    }
                    $(".price").text(res.data.price?res.data.price:0);
                    $(".number").text(res.data.number);
                    top_linkto();
                }else{
                    layer.msg( res.message );
                }
            });
        }


        /**用户签到点击*/
        $(".showmode").click(function () {
            /**判断用户是否有未读的消息*/
            var dataargs_other = {m_id:m_id};
            layer.open({
                type: 1,
                title: false,
                content: $(".xq_model"),
                area: ["300px","auto"]
            });
            return;
        });
        //点击广告统计
        $('.ggimg').click(function(){
            requestUrl("{:U('Api/Advert/clickAdvert')}",{m_id:m_id,a_id:$(".ggimg").attr("advert_id"),type:1,port:"yd"},function ( res ) {
                if ( res.flag == "success" ) {
                    location.href=$('.ggimg').attr('goto');
                }else{
                    layer.msg( res.message );
                }
            });
        })
        $(".sign_button").click(function () {
            var dataargs_other = {m_id:m_id};
            requestUrl("{:U('Api/Member/sign')}",dataargs_other,function(data){

                if(data['flag'] == "success"){
                    console.log("xiexie");
                    layer.msg(data['message']);
                    $(".sign_button").off("click");
                    showuserinfo();
                    /**改变用户的余额钱数*/
                    var show_wallet = $(".show_wallet").text();
                    $(".show_wallet").text(Math.floor(((+show_wallet)+data.data)*100)/100);
                }else if(data['flag'] == "error"){
                    layer.msg(data['message']);
                }
                setTimeout(function () {
                    layer.closeAll();
                },500);
            },"POST",true);
        });

        $(".showcode").on('click',function () {
            if (code && code != "0" ) {
               layer.open({
                    "title":false,
                    "type":1,
                    "area":["250px","250px"],
                    "content":$(".imgarea")
                }); 
               return;
            }
            requestUrl("{:U('Api/Roll/focusWechat')}",{m_id:m_id},function (res) {
                if (res.flag == "success") {
                    $(".code").attr("src",res.data);
                    layer.open({
                        "title":false,
                        "type":1,
                        "area":["250px","250px"],
                        "content":$(".imgarea")
                    });
                }else{
                    layer.msg(res.message);
                }
            });
        });

    </script>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        // var myChart = echarts.init(document.getElementById('transactionimgbox'));
        // function showLine(date,line) {
        // var option = {
        //     title: {
        //         text: '每股收益'
        //     },
        //     color: [
        //         '#208de1', '#fec42c', '#80F1BE'
        //     ],
        //     tooltip: {},
        //     legend: {
        //         data:['价格']
        //     },
        //     xAxis: {
        //         data: date,
        //         name: '日'
        //     },
        //     yAxis: {
        //         name: '豆'
        //     },
        //     series: [{
        //         name: '价格',
        //         type: 'line',
        //         borderColor: '#208de1',
        //         data: line
        //     }]
        // };

        // // 使用刚指定的配置项和数据显示图表。
        // myChart.setOption(option);
        // }
        // requestUrl("{:U('Api/Member/income')}",{},function(res) {
        //     if (res.flag == "success") {
        //         var date = res.data.x_date;
        //         var value = res.data.day_line;
        //         showLine(date.split(","),value.split(","));
        //     }else{
        //         layer.msg(res.message);
        //     }
        // })
//对接app
        function setupWebViewJavascriptBridge(callback) {
            if (window.WebViewJavascriptBridge) {
                return callback(WebViewJavascriptBridge); }
            if (window.WVJBCallbacks) {
                return window.WVJBCallbacks.push(callback); }
            if (!window.WebViewJavascriptBridge) {
                 document.addEventListener(
                'WebViewJavascriptBridgeReady'
                , function() {
                    callback(WebViewJavascriptBridge)
                },
                false
            );
            }
            window.WVJBCallbacks = [callback];
            var WVJBIframe = document.createElement('iframe');
            WVJBIframe.style.display = 'none';
            WVJBIframe.src = 'https://__bridge_loaded__';
            document.documentElement.appendChild(WVJBIframe);
            setTimeout(function() { document.documentElement.removeChild(WVJBIframe) }, 0)
        }

        setupWebViewJavascriptBridge(function(bridge) {

            bridge.callHandler('openUserAction', {}, function(response) {
                console.log("yes");
            })
        })

    </script>
</block>
