<extend name="Public:header"/>
<block name="headdiv">
    <link rel="stylesheet" type="text/css" href="__WEBPUBLIC__/Wechat/css/oldtop.css">
</block>
<block name="main">

    <div class="header-container bgfff">
            <div class="weui-cell ih30 box">
                <div class="weui-cell__hd">

                </div>
                <div class="weui-cell__bd re textcenter">
                    个人资料
                    <!-- <span class="colon addressgl">确定</span> -->
                </div>
                <!--<div class="weui-cell__ft">
                    <img src="/Public/Wechat/img/fenx.png" class="iconfenx"/>
                </div>-->
            </div>
    </div>
    <!-- 内容 -->
    <div class="xq_container">
        <div class="weui-cells">
            <label for="headimg" class="weui-cell weui-cell_access">
                <div class="weui-cell__hd">
                    头像
                </div>
                <div class="weui-cell__bd">
                    <input id="headimg" type="file" name="" class="fileinput">
                </div>
                 <div class="weui-cell__ft">
                    <div class="headimgbox2  head_pic headimgbg fs0">
                        <!-- <img class="head_pic h100" > -->
                    </div>
                </div>   
            </label>
            <div class="weui-cell">
                <div class="weui-cell__hd">

                </div>
                <div class="weui-cell__bd">
                    昵称
                </div>
                <div class="weui-cell__ft">
                   <span contenteditable="true" class="nick_name"></span>
                </div>   
            </div>
        </div>
    


</block>
<block name="footerjs">
    <script>
        var dataargs = {m_id:m_id};
        requestUrl("{:U('Api/Member/memberCenter')}",dataargs,function(data){
            console.log(data);
            var res = data.data;
            if(data['flag'] == "success"){
                $(".nick_name").text(res.nick_name);
                $(".head_pic").css('background-image','url('+res.head_pic+')');
                $(".account").text(res.account);
            }else if(data['flag'] == "error"){
                layer.msg(data['message']);
            }
        },"GET",true);
    </script>
    <!--上传图片-->
    <script>
        function ajax(){
            var filesize = this.files[0].size;
            if (filesize > 500*1024) {
                layer.msg("图片不能大于500k");
                return false;
            }
            var files = this.files;
            var picname = files[0].name;
            var reader = new FileReader();
            reader.onload = function(e){
                var src = e.target.result;
                var dataargs = {"pic": src, "pic_name": picname, m_id: m_id};
                requestUrl("{:U('Empty/uploadPic')}", dataargs, function (data_json) {
                    layer.closeAll();
                    var data = JSON.parse(data_json);
                    if (data['flag'] == "success") {
                        $(".head_pic").css("background-image", 'url('+data['data']['path']+')');
                        layer.msg("上传成功！");
                    } else {
                        layer.msg("上传失败！");
                    }
                }, "POST", true);

            }
            reader.readAsDataURL(files[0]);
        }
        $("input[type='file']").on('change',ajax);
        /**修改用户的昵称*/
        var nick_name = "";
        $(".nick_name").on("blur",function () {
            if (nick_name == $.trim($(".nick_name").text())) {
                return;
            }else{
                nick_name = $.trim($(".nick_name").text());
            }
            if($.trim(nick_name)==""||nick_name==""){
                layer.msg("名字不能为空!");
                return false;
            }else if(nick_name.length>12){
                layer.msg("名字最长12位!");
                return false;
            }
            var dataargs = {"nick_name": nick_name, m_id: m_id};
            requestUrl("{:U('Api/Member/configMember')}", dataargs, function (data) {
                console.log(data);
                layer.closeAll();
                if (data['flag'] == "success") {
                    layer.msg("修改成功！");
                } else {
                    layer.msg("修改失败！");
                }
            }, "POST", true);
        })

    </script>

</block>