<extend name="Public:header"/>
<block name="main">
	<!-- 头部 -->
    <div class="header-container bgfff z3">
            <div class="weui-cell ih30 box">
                <div class="weui-cell__hd">
                </div>
                <div class="weui-cell__bd textcenter">
                	身份验证
                	<!-- <span class="fr tc">退出</span> -->
                </div>
                <!--<div class="weui-cell__ft">
                    <img src="/Public/Wechat/img/fenx.png" class="iconfenx"/>
                </div>-->
            </div>
    </div>
    <!-- 内容 -->
    <div class="xq_container">
        <div class="weui-cells">
            <!-- <div class="weui-cell none tel">
                <div class="weui-cell__hd"><label class="mgr10">手机号</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" placeholder="输入手机号"/>
                </div>
            </div> -->
            <div class="weui-cell weui-cell_vcode">
                <div class="weui-cell__hd mgr5">图形码</div>
                <div class="weui-cell__bd">
                    <input class="weui-input imgcode" type="number" placeholder="请输入图形码"/>
                </div>
                <div class="weui-cell__ft">
                    <img class="weui-vcode-img w100px changeverify" src="{:U('Api/Login/verify')}" />
                </div>
            </div>
            <div class="weui-cell weui-cell_vcode">
                <div class="weui-cell__hd mgr5">
                    验证码
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input telcode" type="tel" placeholder="请输入短信验证码">
                </div>
                <div class="weui-cell__ft">
                    <a href="javascript:;" class="weui-vcode-btn getcode">获取验证码</a>
                </div>
            </div>
        </div>

        <div class="loginbut setupfoot btn_sure">
                确认
        </div>
    </div>

</block>
<block name="footerjs">
<script type="text/javascript">
    var account = "{$_GET['account']}";
    /**点击更换图片验证码*/
    var curind = 0;
    var url = "{:U('Api/Login/verify')}";
    $(".changeverify").on('click',function(){
        // if(type==3){
        //     if (!(/^1{1}[3|5|7|8|4]{1}[0-9]{9}$/.test($('.tel input').val()))) {
        //         layer.msg("手机格式错误！");
        //         return;
        //     }
        // }
        curind++;
        $(this).attr("src",url+"/"+curind);
    });
    /**点击获取短信验证码*/
    $('.getcode').on('click',function(){
        var self = $(this);
        if(self.attr('disabled')) return;
        var imgcode = $('.imgcode').val().trim();
        if(imgcode==""){
            layer.msg('请输入图形码');return;
        }
        requestUrl("{:U('Api/Login/sendVerify')}",{verify_code:imgcode,tel:account,type:"newBind",port:0},function(res){
            if (res.flag == "success") {
                var i = 60;
                var time = setInterval(function(){
                    self.text(i+"秒").attr("disabled","true");
                    --i;
                    if (i == 0) {
                        clearInterval(time);
                        self.text("获取验证码").removeAttr("disabled");
                    }
                },1000);
            }else{
                layer.msg(res.message);
            }
        })
    });
    /**点击确定按钮,验证短信验证码是否正确*/
    $('.btn_sure').click(function(){
        var telcode = $('.telcode').val().trim();
        if(telcode==""){
            layer.msg('请输入验证码');return;
        }
        requestUrl("{:U('Api/Login/isSureCode')}",{account:account,vc:telcode,port:0,type:"newBind"},function(res){
            if(res.flag=="success"){
                location.href = "{:U('Login/bind')}";
            }else{
                layer.msg(res.message);
            }
        });
    });
</script>
</block>