<include file="Public:header"/>
<script type="text/javascript" src="__WEBPUBLIC__/Admin/js/ajax-operate.js"></script>
<style type="text/css">
    .table tr td.td {  vertical-align: middle;  }
    .click-operate {cursor: pointer}
    .txt-red, .txt-grren, .txt-green, .txt-blue, .txt-yellow, .txt-blue-1{font-size: 18px;}
</style>
<!--主页面-->
<div id="main-content" class="content">
    <ul class="breadcrumb">
        <li><a href="{:U('Index/main')}">首页</a></li>
        <li class="active"><a href="">功能介绍</a></li>
    </ul>

    <div class="page-header page-header1 clearfix">
        <h3>功能介绍</h3>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="{:U('Company/addCompany')}">功能介绍</a>
            </li>
        </ul>
    </div>

        <!--表格内容-->
        <div class="content-box-content">
            <!--表单 start-->
            <form action="{:U('Company/addCompany')}" method="post" class="form-horizontal">
                <div class="form-group">
                    <label for="content" class="col-sm-3 control-label"><em class="prompt-red">*</em>联系我们：</label>
                    <script  src="__WEBPUBLIC__/Common/kindeditor/kindeditor-min.js"></script>
                    <script  src="__WEBPUBLIC__/Common/kindeditor/lang/zh_CN.js"></script>
                    <div class="col-sm-9">
                        <textarea name="content" class="form-control" id="content" style="width:auto;height:300px;visibility:hidden;" >{$Company['content']}</textarea>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-default btn-primary">确认添加</button>
                    </div>
                </div>
            </form>
            <!--表单 end-->
        </div>
    </div>
</div>
<include file="Public:footer"/>
<script>
    var editor;
    KindEditor.ready(function(K) {
        editor = K.create('textarea[name="content"]', {
            resizeType : 1,
            uploadJson : '__WEBPUBLIC__/Common/kindeditor/php/upload_json.php',
            fileManagerJson :
                    '__WEBPUBLIC__/Common/kindeditor/php/file_manager_json.php',
            allowPreviewEmoticons : false,
            items:[
                'source', '|', 'undo', 'redo', '|', 'cut', 'copy','|', 'justifyleft',
                'justifycenter', 'justifyright',
                'justifyfull', 'clearhtml', 'selectall', '|', 'formatblock',
                'fontname', 'fontsize', '|', 'forecolor',
                'hilitecolor', 'bold', 'italic', 'underline', 'strikethrough','image'
            ],
            afterBlur:function(){this.sync();}
        });
    });
</script>